<div class="v-shadow">

  <label class="left-tag" style="margin: 20px 0">顾客管理</label>

  <div class="list-group click">
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='search'}"
       ng-click="goto('customer')">顾客筛选</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='tag'}" ng-click="goto('customer/tag')">标签管理</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='mass'}" ng-click="goto('customer/mass')">标签群发</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='trusteeship'}"
       ng-click="goto('customer/trusteeship')">条件托管群发</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='record'}"
       ng-click="goto('customer/record')">群发历史</a>
  </div>

  
  
  <label class="left-tag" style="margin: 15px 0">老会员管理</label>
  
  <div class="list-group click">
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='import'}"
    ng-click="goto('customer/import')">老会员导入</a>
  </div>
  
  <label class="left-tag" style="margin: 15px 0">查询</label>
  <form class="col-sm-12" name="orderSend">
    <input type="text" class="form-control" ng-if="config.breadset[0].class !='import'" id="inputSuccess2" ng-model="search.param"
            placeholder="手机号/" required/>
    <input type="text" class="form-control" ng-if="config.breadset[0].class=='import'" id="inputSuccess2" ng-model="search.phone"
            placeholder="会员手机号" required/>
    <a class="btn btn-primary btn-block" style="margin-top: 10px" ng-click="postSend()">查询</a>
    <a href="#/customer/add" style="margin-top: 23px" class="btn btn-default btn-block">添加会员</a>

  </form>
  <!-- <label class="left-tag" style="margin: 15px 0">顾客查询</label>

  <form class="col-sm-12" name="orderSend">
    <input type="text" class="form-control" id="inputSuccess2" ng-model="search.param"
           placeholder="手机号/" required/>
    <a class="btn btn-primary btn-block" style="margin-top: 10px" ng-click="postSend()">查询</a>
    <a href="#/customer/add" style="margin-top: 23px" class="btn btn-default btn-block">添加会员</a>

  </form> -->

</div>
