<div class="row bgw" style="clear: both">
  <div ng-include="'/admin/customer/leftmenu.html'"></div>
  <div class="v-shadow-content half bgw">
    <div class="media">
      <a ng-click="goto('customer/mass/add')" class="btn btn-primary ml15">+ 新建标签群发</a>
      <div class="form-control-static">* 一天最多允许三次群发，一周最多允许五次群发，一个自然月最多允许十次群发</div>
    </div>
    <div class="media" ng-class="{'active':view.id == item.id}" ng-click="detailFn(item.id,$index)"
         ng-repeat="item in view.mass.items">
      <div class="media-left">
        <span class="glyphicon glyphicon-tag" style="margin-top: 9px"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{item.category=='TAG'?'标签':'群组'}}{{item.name}}</h4>

        <p class="label label-danger">{{item.timeCategory == 'IMMEDIATELY'?'即刻群发':'定时群发'}}</p>

        <div class="mt15"> {{item.createTime}}</div>
      </div>
      <div class="media-body text-right">
        <div ng-repeat="content in item.contents">
          <span class="glyphicon glyphicon-gift"></span> 群发：{{view.type[content.category]}} {{content.count}}
        </div>
      </div>
    </div>
  </div>
  <div class="v-shadow-content half" style="margin-left: 0" ng-if="view.checked">
    <div class="panel panel-default">
      <div class="panel-heading">
        查看群发权益
      </div>
      <form name="form" class="panel-body order">
        <div class="title"><span>1</span>发送对象</div>
        <div>
          <div style="border: 1px solid #f1f1f1;padding: 10px">
            <span class="glyphicon glyphicon-tag" style="vertical-align: middle"></span> {{view.checked.name}}
            <span class="pull-right"><span class="text-red ">{{view.checked.count}}</span>顾客</span>
          </div>
        </div>
        <div class="title"><span>2</span>群发内容</div>
        <div class="row form-inline">
          <div class="" role="group" data-toggle="button">
            <button type="button" class="btn btn-border" ng-click="add('charge')">
              <span class="glyphicon" ng-class="{'glyphicon-plus':!post.charge,'glyphicon-remove':post.charge}"></span>
              充值
            </button>
            <button type="button" class="btn btn-border" ng-click="add('point')">
              <span class="glyphicon" ng-class="{'glyphicon-plus':!post.point,'glyphicon-remove':post.point}"></span>
              积分
            </button>
            <button type="button" class="btn btn-border" ng-click="add('coupon')">
              <span class="glyphicon" ng-class="{'glyphicon-plus':!post.coupon,'glyphicon-remove':post.coupon}"></span>
              发券
            </button>
            <!--<button type="button" class="btn btn-primary" ng-click="add('membergrade')">升级</button>-->
          </div>
          <div class="row" style="padding: 10px" ng-if="post.coupon">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  选择发券详情,可多选
                </div>
                <div class="panel-body" style="height: 200px;overflow: auto;padding: 15px 25px">
                  <div class="row" style="margin:10px 0;" ng-repeat="coupon in post.coupon">
                    <input type="checkbox" ng-model="coupon.checked" id="{{'item1'+ $index}}"
                           ng-click="coupon.count=coupon.checked?'':1;">
                    <label for="{{'item1'+ $index}}">
                      <span class="coupon1"></span>
                      <span class="form-control-static">{{coupon.name + (coupon.alias?'('+coupon.alias+')':'')}}</span>
                    </label>
                    <input ng-model="coupon.count" style="width: 75px" class="form-control pull-right"
                           type="number">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="padding: 10px" ng-if="post.point">
            <div class="col-sm-12">
              发放 <input type="number" class="form-control" ng-model="post.point.value" required> 积分
            </div>
          </div>
          <div class="row" style="padding: 10px" ng-if="post.charge">
            <div class="col-sm-12">
              发放 <input type="number" class="form-control" ng-model="post.charge.value"> 元
            </div>

          </div>
          <!--<div class="row " ng-if="post.membergrade">-->
          <!--<div class="col-sm-2">升级</div>-->
          <!--<div class="col-sm-10">-->
          <!--<div class="panel panel-default">-->
          <!--<div class="panel-heading">-->
          <!--选择会员级别详情-->
          <!--</div>-->
          <!--<div class="panel-body" style="height: 200px">-->
          <!--<div ng-repeat="member in view.memberGrades">-->
          <!--<input type="checkbox" ng-model="post.membergrade.value" id="{{'item'+$index}}"-->
          <!--ng-true-value="{{member.id}}"><span for="{{'item'+$index}}">{{member.name}}</span>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>

        <div class="title"><span>3</span>发送时间</div>
        <div>
          <div><input type="checkbox" ng-model="single.timeCategory" ng-true-value="IMMEDIATELY" id="now"/><label
                  for="now">即刻发送</label></div>
          <input type="checkbox" ng-model="single.timeCategory" ng-true-value="TIMING" id="delay"/><label
                for="delay">设定发送时间</label>

          <div class="form-inline" ng-if="single.timeCategory==='TIMING'">
            <input class="form-control" type="date" ng-model="single.date" required/>
            <input class="form-control" type="time" ng-model="single.time" required/>

          </div>
        </div>
        <div class="title"><span>4</span>发送途径</div>
        <div class="row">
          <label> <input type="checkbox" ng-model="post.path" ng-true-value="101"/>智能路由推送</label>

          <div class="check-add">默认使用公众号消息推送，如顾客尚未关注公众号则使用短信推送</div>

          <push hand="post.path"></push>
        </div>
        <div class="title"><span>5</span>广告</div>
        <div class="row col-sm-7">
          <div class="form-group">
            <div class="form-control-static">标题</div>
            <input ng-model="post.title" type="text" class="form-control" placeholder="标题 2-20个字符以内"/>
          </div>
          <div class="form-group">
            <div class="form-control-static">内容</div>
            <textarea ng-model="post.content" class="form-control" placeholder="内容 200个字符以内"/>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input ng-model="view.check" type="radio" name="optionsRadios" value="true">
                使用外部链接
              </label>
              <label>
                <input ng-model="view.check" type="radio" name="optionsRadios" value="false">
                使用原生页面
              </label>
            </div>
            <div ng-if="view.check=='true'">
              <div class="">
                <div class="form-control-static">链接</div>
                <input ng-model="post.externalLinks" type="url" class="form-control" maxLenth="200" placeholder="内容 200个字符以内 " required/>
              </div>
            </div>
            <div ng-if="view.check=='false'">
              <div class="form-group" ng-repeat="item in post.picUrls" style="clear: left">
                <div style="border: 1px dotted #d5d5d5;padding: 16px;width: 82%;float: left;margin-top: 10px">
                  <div class="form-inline mt15">
                    <div class="form-control-static">标题</div>
                    <input ng-model="item.title" type="text" minlength="2" maxlength="200" class="form-control" placeholder="标题  2-20个字符以内" required/>
                  </div>
                  <div class="form-inline mt15">

                    <div class="form-control-static">内容</div>
                    <textarea ng-model="item.content" class="form-control" maxlength="200" placeholder="内容 200个字符以内 "/>
                  </div>
                  <div class="form-inline mt15">
                    <div class="form-control-static">图片</div>
                    <pic-send style="display: inline-block;vertical-align: top;" pic-url="item.url"></pic-send>
                  </div>
                  <div class="form-inline mt15">
                    <div class="form-control-static">链接</div>
                    <input ng-model="item.linkUrl" type="url" class="form-control" placeholder="链接"/>
                  </div>
                </div>
                <div class="ruleadd2" style="display: inline-block;vertical-align: middle;padding: 10px">
                  <a class="add click" ng-if="$first" ng-click="addRuleFn()"> <i
                          class="glyphicon glyphicon-plus"></i>
                  </a>
                  <a class="remove click" ng-if="!$first" ng-click="removeRuleFn($index)"> <i
                          class="glyphicon glyphicon-remove"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="title" style="clear: both"><span>6</span>发送消息内容</div>
        <div class="row col-sm-7">
          <div>
            <label class="form-control-static">短信发送内容 <a target="_blank"
                                                         href="http://www.shjianzhou.com/key/index.html">点此检测敏感词</a></label>
            <textarea ng-model="post.smsText" placeholder="最多200个字符"
                      style="width: 90%;height: 100px;padding: 10px;"></textarea>
          </div>
          <div>
            <label class="form-control-static">微信模板消息</label>
            <textarea ng-model="post.templateText" placeholder="最多140个字符"
                      style="width: 90%;height: 100px;padding: 10px;"></textarea>
          </div>
        </div>
        <div class="mt15" ng-if="!usable" style="clear: both;margin-left: 50px">
          <a class="btn btn-primary" ng-disabled="form.$invalid"
             ng-click="sendJson()">提交</a></div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" id="new" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="tableform">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">分组顾客</h4>
        </div>
        <div class="modal-body form-horizontal" style="overflow:hidden">

          <!--todo-->
          <div class="order" style="">
            <div class="title"><span>1</span>发送对象</div>
            <div><span class="tag1" ng-class="{'active': view.id == name.id}"
                       ng-repeat="name in view.tagName" ng-click="view.id = view.id == name.id?'': name.id">{{name.name}}</span>
            </div>
            <div class="title"><span>2</span>群发内容</div>
            <div class="row form-inline">
              <div class="" role="group" data-toggle="button">
                <button type="button" class="btn btn-border" ng-click="add('charge')">
                  <span class="glyphicon"
                        ng-class="{'glyphicon-plus':!post.charge,'glyphicon-remove':post.charge}"></span>
                  充值
                </button>
                <button type="button" class="btn btn-border" ng-click="add('point')">
                  <span class="glyphicon"
                        ng-class="{'glyphicon-plus':!post.point,'glyphicon-remove':post.point}"></span>
                  积分
                </button>
                <button type="button" class="btn btn-border" ng-click="add('coupon')">
                  <span class="glyphicon"
                        ng-class="{'glyphicon-plus':!post.coupon,'glyphicon-remove':post.coupon}"></span>
                  发券
                </button>
                <!--<button type="button" class="btn btn-primary" ng-click="add('membergrade')">升级</button>-->
              </div>
              <div class="row" style="padding: 10px" ng-if="post.coupon">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      选择发券详情,可多选
                    </div>
                    <div class="panel-body" style="height: 200px;overflow: auto;padding: 15px 25px">
                      <div class="row" style="margin:10px 0;" ng-repeat="coupon in post.coupon">
                        <input type="checkbox" ng-model="coupon.checked" id="{{'item'+ $index}}"
                               ng-click="coupon.count=coupon.checked?'':1;">
                        <label for="{{'item'+ $index}}">
                          <span class="coupon1"></span>
                          <span class="form-control-static">{{coupon.name + (coupon.alias?'('+coupon.alias+')':'')}}</span>
                        </label>
                        <input ng-model="coupon.count" style="width: 75px" class="form-control pull-right"
                               type="number">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 10px" ng-if="post.point">
                <div class="col-sm-12">
                  发放 <input type="number" class="form-control" ng-model="post.point.value" required> 积分
                </div>
              </div>
              <div class="row" style="padding: 10px" ng-if="post.charge">
                <div class="col-sm-12">
                  发放 <input type="number" class="form-control" ng-model="post.charge.value"> 元
                </div>

              </div>
              <!--<div class="row " ng-if="post.membergrade">-->
              <!--<div class="col-sm-2">升级</div>-->
              <!--<div class="col-sm-10">-->
              <!--<div class="panel panel-default">-->
              <!--<div class="panel-heading">-->
              <!--选择会员级别详情-->
              <!--</div>-->
              <!--<div class="panel-body" style="height: 200px">-->
              <!--<div ng-repeat="member in view.memberGrades">-->
              <!--<input type="checkbox" ng-model="post.membergrade.value" id="{{'item'+$index}}"-->
              <!--ng-true-value="{{member.id}}"><span for="{{'item'+$index}}">{{member.name}}</span>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>

            <div class="title"><span>3</span>发送时间</div>
            <div>
              <div><input type="checkbox" ng-model="single.timeCategory" ng-true-value="IMMEDIATELY" id="now1"/><label
                      for="now1">即刻发送</label></div>
              <input type="checkbox" ng-model="single.timeCategory" ng-true-value="TIMING" id="delay1"/><label
                    for="delay1">设定发送时间</label>

              <div class="form-inline" ng-if="single.timeCategory==='TIMING'">
                <input class="form-control" type="date" ng-model="single.date" required/>
                <input class="form-control" type="time" ng-model="single.time" required/>

              </div>
            </div>
            <div class="title"><span>4</span>发送途径</div>
            <div class="col-sm-8">
              <label> <input type="checkbox" ng-model="post.path" ng-true-value="101"
                             class="ng-pristine ng-untouched ng-valid">智能路由推送</label>

              <div class="check-add">默认使用公众号消息推送，如顾客尚未关注公众号则使用短信推送</div>
              <div>
                <label> <input type="checkbox" ng-model="hand_click" ng-disabled="post.path == '101'"
                               class="ng-pristine ng-untouched ng-valid">手动选择推送</label>

                <div ng-show="hand_click" class="padding">
                  <label> <input type="checkbox" ng-model="wx" ng-change="change()"
                                 class="ng-pristine ng-untouched ng-valid">公众号消息推送</label>
                  <label> <input type="checkbox" ng-model="message" ng-change="change()"
                                 class="ng-pristine ng-untouched ng-valid">短信推送<span> 按短信条数计费</span></label>
                </div>
              </div>
              <div>
                <label class="form-control-static">短信发送内容 <a target="_blank"
                                                             href="http://www.shjianzhou.com/key/index.html">点此检测敏感词</a></label>
                <textarea ng-model="post.smsText" placeholder="最多200个字符"
                          style="width: 100%;height: 100px;    padding: 10px;"></textarea>
              </div>
              <div>
                <label class="form-control-static">微信模板消息</label>
                <textarea ng-model="post.templateText" placeholder="最多140个字符"
                          style="width: 100%;height: 100px;padding: 10px;"></textarea>
              </div>
            </div>
          </div>
          <!--todo-->
        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <div class="btn btn-primary btn-block" ng-disabled="tableform.$invalid"
                 ng-click="sendJson()">确定
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



