<div class="row">
  <div ng-include="'/admin/customer/leftmenu.html'"></div>
  <div class="v-shadow-content">
    <div class="doc">
      <ul class="bg-primary">
        <li>合计 {{view.mass.total}}</li>
      </ul>
      <table class="table">
        <thead style="border: 1px solid #ddd">
        <tr>
          <td>序号</td>
          <td>群发类型</td>
          <td>内容</td>
          <td>状态</td>
          <td>创建时间</td>
          <td>发送时间</td>
        </tr>
        </thead>
        <tbody class="slide-down bgw">
        <tr ng-repeat="row in view.mass.items">
          <td ng-bind="((view.mass.page-1)*view.mass.count)+$index+1"></td>
          <td ng-bind="row.category=='TAG'?'标签群发':'托管群发'"></td>
          <td>
            <div class="text-left">
              <div>对象：{{row.name}}</div>
              <div>内容：
                <span ng-repeat="content in row.contents">
                  <span ng-if="content.category == 'COUPON'">
                    {{content.name}} {{content.count}}张
                  </span>
                  <span ng-if="content.category == 'CHARGE'">
                    {{content.value}}元
                  </span>
                  <span ng-if="content.category == 'POINT'">
                    {{content.value}}积分
                  </span>
                </span>
              </div>
              <div>时间：{{row.completionTime}}</div>
            </div>

          </td>
          <td>
            <div ng-if="row.result.WX">微信：{{row.result.WX.effective}} 成功：{{row.result.WX.succeed}} 失败：{{row.result.WX.failed}}</div>
            <div ng-if="row.result.SMS">短信：{{row.result.SMS.effective}} 成功：{{row.result.SMS.succeed}}失败：{{row.result.SMS.failed}}</div>
          </td>
          <td ng-bind="row.createTime"></td>
          <td ng-bind="row.completionTime"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 text-left" ng-if="!view.mass.total">
      无查询结果
    </div>
    <div class="col-sm-12" ng-if="view.mass.pageSize>1">
      <pagination items-per-page="view.mass.count" boundary-link="true" rotate="false" max-size="20"
                  total-items="view.mass.total"
                  ng-model="view.mass.page" class="pagination-sm" previous-text="&lsaquo;"
                  next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                  ng-change="pageChange()"></pagination>

    </div>
  </div>
</div>

