<div class="row">
  <div ng-include="'/admin/customer/leftmenu.html'"></div>
  <div class="v-shadow-content bgw half">
    <div class="media" ng-class="{'active':view.index == $index}" ng-click="detailFn($index)"
         ng-repeat="item in view.tag.items">
      <div class="media-left">
        <span class="glyphicon glyphicon-tag" style="margin-top: 9px"></span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{item.name}}</h4>

        <p>{{item.createTime}}</p>
      </div>
      <div class="media-body text-right">
        <div class="text-black"><span class="text-red">{{item.count}}</span>顾客</div>
      </div>
    </div>
    <div class="col-sm-12 plan-son text-left" ng-if="!view.tag.total">
      无查询结果
    </div>
    <div class="col-sm-12" ng-if="view.tag.pageSize>1">
      <pagination items-per-page="view.tag.count" boundary-link="true" rotate="false" max-size="20"
                  total-items="view.tag.total"
                  ng-model="view.tag.page" class="pagination-sm" previous-text="&lsaquo;"
                  next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                  ng-change="pageChange()"></pagination>

    </div>
  </div>
  <div class="v-shadow-content half" style="margin-left: 0" ng-show="view.detail">
    <div class="panel panel-default">
      <div class="panel-heading">本标签共{{view.detail.total}}位顾客
        <button class="pull-right btn btn-danger" style="margin-top: -6px" ng-click="deleteFn()">删除标签</button>
      </div>
      <div class="panel-body">
        <div class="customer" style="background: #e6e6e6;padding: 10px 5px 10px 20px;border-radius: 20px;overflow: auto;margin-bottom: 5px">
          <span class="text-grey">标签名称：</span><span style="font-size: 18px"> <span
                class="glyphicon glyphicon-tag"></span> {{view.tag.items[view.index].name}}</span>
          <button class="button button-xs pull-right" ng-disabled="!tag.user.length" style="background: red" ng-click="deleteUser()"><span
                  class="glyphicon glyphicon-remove"></span> 从本标签移除
          </button>
          <button class="button button-xs pull-right" ng-disabled="!tag.user.length" ng-click="tagName()"><span
                  class="glyphicon glyphicon-tag"></span> 对勾选顾客打标签
          </button>
        </div>
        <div class="media" ng-repeat="item in view.detail.items">
          <div class="media-left">
            <input type="checkbox" style="margin-top: 47px" ng-true-value="{{item.id}}" ng-model="tag.user[$index]">
          </div>
          <div class="media-body">
            <p> {{item.username}}</p>
            <div class="text-black">
              <img style="width: 30px;height: 30px" class="media-object inline-block" ng-src="{{item.avatarUrl}}" src="/public/img/avatar.png"
                   alt="..."><span style="vertical-align: middle" class="inline-block">{{item.nickname}}</span>
            </div>

            <p class="text-gold" ng-if="item.memberCardNo">会员卡号：{{item.memberCardNo}}</p>

          </div>
          <div class="media-body text-right">
            <p><span class="glyphicon glyphicon-phone"></span>{{item.phone}} <span
                    class="glyphicon glyphicon-user"></span> {{item.gender=="F"?'女':item.gender=="M"?'男':"保密"}} <span
                    class="tag"> {{item.memberGradeName}}</span></p>
            <div class="text-black">最近消费{{item.lastConsumeTime}} | 消费累计￥<span class="text-red">{{item.totalConsume||0}}</span>({{item.consumeCount}}次)
          </div>
          </div>
        </div>
        <div class="col-sm-12" ng-if="!view.detail.total">
          无查询结果
        </div>
        <div class="col-sm-12" ng-if="view.detail.pageSize>1">
          <pagination items-per-page="view.detail.count" boundary-link="true" rotate="false" max-size="20"
                      total-items="view.detail.total"
                      ng-model="view.detail.page" class="pagination-sm" previous-text="&lsaquo;"
                      next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                      ng-change="pageUserChange()"></pagination>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="tagName" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="tableform">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">分组顾客</h4>
        </div>
        <div class="modal-body form-horizontal" style="overflow:hidden">
          <p>从历史标签中选择</p>

          <p><span class="tag1" ng-class="{'active': view.checkName == name.id}"
                ng-repeat="name in view.tagName" ng-click="view.checkName = view.checkName == name.id?'': name.id">{{name.name}}</span>
          </p>

          <p>新建标签</p>

          <div class="form-inline">
            <input ng-model="tag.name" name="no" ng-minlength='1' ng-maxlength='10' class="form-control"
                   placeholder="请输入新建标签名称">

            <div class="form-control-static">2-20个字符以内</div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <div class="btn btn-primary btn-block" ng-disabled="tableform.$invalid"
                 ng-click="tagFn()">确定
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


