<div>
  <form class="form-inline time-search" ng-class="{'project':view.projects}" name="searchData" ng-submit="doSearch()">
    <div class="form-group" ng-if="view.shops" ng-mouseenter="posts.check=1" ng-mouseleave="posts.check=0">
      <label>门店：</label>

      <div class="select_showbox" ng-model="posts.shopId">{{posts.shopName || "请点击选择"}} <span
              class="caret pull-right" style="margin-top: 7px"></span>
      </div>
      <div style="height: 5px"></div>
      <ul class="select_option" ng-show="posts.check">
        <li ng-click="posts.shopId = '';posts.shopName = '所有';posts.check=0">所有</li>
        <!--<li ng-click="posts.shopId = 'brand';posts.shopName = '品牌虚拟店';posts.check=0">品牌虚拟店</li>-->
        <li ng-if="posts.selector!=7&&posts.selector!=5&&posts.selector!=6" ng-repeat="o in view.shops"
            ng-click="selectShop(o)">
          {{o.name}}
        </li>
        <li class="select_last text-center">没有更多了</li>
      </ul>
    </div>
    <div class="form-group" ng-if="view.coupons&&posts.selector==9" ng-mouseenter="posts.check0=1"
         ng-mouseleave="posts.check0=0">
      <label>券名：</label>

      <div class="select_showbox" ng-model="posts.couponId">{{posts.couponName || "请点击选择"}} <span
              class="caret pull-right" style="margin-top: 7px"></span>
      </div>
      <div style="height: 5px"></div>
      <ul class="select_option" ng-show="posts.check0">
        <li ng-click="selectCoupon('','所有')">所有</li>
        <li ng-click="selectCoupon(o.id,o.name)" ng-repeat="o in view.coupons">
          {{o.name + (o.alias?'('+o.alias+')':'')}}
        </li>
        <li class="select_last text-center">没有更多了</li>
      </ul>
      <!--<ul class="select_option" ng-show="posts.check0">-->
      <!--<li ng-click="posts.couponId = '';posts.couponName = '所有';posts.check0=0">所有</li>-->
      <!--<li ng-repeat="o in view.coupons" ng-click="posts.couponId = o.id;posts.couponName = o.name;posts.check0=0">-->
      <!--{{o.name + (o.alias?'('+o.alias+')':'')}}-->
      <!--</li>-->
      <!--<li class="select_last text-center">没有更多了</li>-->
      <!--</ul>-->
    </div>
    <div class="form-group" ng-if="(view.staffs&&posts.shopId&&posts.selector==12)||(view.staffs&&posts.shopId&&posts.selector==15)" ng-mouseenter="posts.check2=1"
         ng-mouseleave="posts.check2=0">
      <label>员工：</label>

      <div class="select_showbox" ng-model="posts.staffId">{{posts.staffName || "请点击选择"}} <span
              class="caret pull-right" style="margin-top: 7px"></span>
      </div>
      <div style="height: 5px"></div>
      <ul class="select_option" ng-show="posts.check2">
        <li ng-click="selectStaff('','所有')">所有</li>
        <li ng-click="selectStaff(o.id,o.nickname)" ng-repeat="o in view.staffs">
          {{o.nickname}}
        </li>
        <li class="select_last text-center">没有更多了</li>
      </ul>
      <!--<ul class="select_option" ng-show="posts.check0">-->
      <!--<li ng-click="posts.couponId = '';posts.couponName = '所有';posts.check0=0">所有</li>-->
      <!--<li ng-repeat="o in view.coupons" ng-click="posts.couponId = o.id;posts.couponName = o.name;posts.check0=0">-->
      <!--{{o.name + (o.alias?'('+o.alias+')':'')}}-->
      <!--</li>-->
      <!--<li class="select_last text-center">没有更多了</li>-->
      <!--</ul>-->
    </div>

    <div class="form-group" ng-if="view.business&&posts.selector==13&&posts.shopId" ng-mouseenter="posts.check2=1"
         ng-mouseleave="posts.check2=0">
      <label>业务：</label>

      <div class="select_showbox" ng-model="posts.businessId">{{posts.businessName || "请点击选择"}} <span
              class="caret pull-right" style="margin-top: 7px"></span>
      </div>
      <div style="height: 5px"></div>
      <ul class="select_option" ng-show="posts.check2">
        <li ng-click="selectStaff('','所有')">所有</li>
        <li ng-click="selectStaff(o.id,o.name)" ng-repeat="o in view.business">
          {{o.name}}
        </li>
        <li class="select_last text-center">没有更多了</li>
      </ul>
    </div>

    <div class="form-group" ng-if="view.card&&posts.selector==14" ng-mouseenter="posts.check3=1"
         ng-mouseleave="posts.check3=0">
      <label>卡：</label>

      <div class="select_showbox" ng-model="posts.cardId">{{posts.cardName || "请点击选择"}} <span
              class="caret pull-right" style="margin-top: 7px"></span>
      </div>
      <div style="height: 5px"></div>
      <ul class="select_option" ng-show="posts.check3">
        <li ng-click="selectCard('','所有')">所有</li>
        <li ng-click="selectCard(o.id,o.name)" ng-repeat="o in view.card">
          {{o.name}}
        </li>
        <li class="select_last text-center">没有更多了</li>
      </ul>
    </div>

    <div class="form-group">
      <label>时间：</label>
      <input type="date" style="color: #18A0D4" ng-model="posts.startTime" class="form-control" placeholder="起始时间"
             name="startDate" required/>
      ~
      <input type="date" style="color: #18A0D4;margin-right: 90px" ng-model="posts.endTime" class="form-control"
             placeholder="结束时间"
             name="endDate" required/>
    </div>
    
    <div class="form-group">
      <button class="btn btn-default btn-primary" ng-disabled="searchData.$invalid">筛选</button>
      <!--<button class="btn btn-default btn-primary">下载excel</button>-->
    </div>
  </form>
  <!--<div class="modal fade in" ng-class="{'show':modal==1}">-->
  <!--<div class="modal-dialog modal-sm">-->
  <!--<div class="modal-content ">-->
  <!--<div class="modal-header ">-->
  <!--<button type="button" class="close" data-dismiss="modal" ng-click="modal=0">-->
  <!--<span aria-hidden="true">&times;</span>-->
  <!--<span class="sr-only">Close</span>-->
  <!--</button>-->
  <!--<h4 class="modal-title">选择时间</h4>-->
  <!--</div>-->
  <!--<div class="modal-body form-horizontal" style="overflow:hidden">-->
  <!--<div class="form-group">-->
  <!--<label class="col-sm-3 control-label text-right">起始时间</label>-->

  <!--<div class="col-sm-9">-->
  <!--<input type="date" style="color: #18A0D4" ng-model="posts.startTime" class="form-control"-->
  <!--placeholder="起始时间"-->
  <!--name="startDate" required/>-->
  <!--</div>-->
  <!--</div>-->

  <!--<div class="form-group ">-->
  <!--<label class="col-sm-3 control-label text-right">结束时间</label>-->

  <!--<div class="col-sm-9 ">-->
  <!--<input type="date" style="color: #18A0D4;margin-right: 90px" ng-model="posts.endTime" class="form-control"-->
  <!--placeholder="结束时间" name="endDate" required/>-->
  <!--</div>-->

  <!--</div>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
  <!--<div class="col-md-12">-->
  <!--<div class="btn btn-primary btn-block" ng-click="modal=0">确定</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; /.modal-content &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
  <!--</div>-->
</div>
