<div class="doc">
  <ul class="bg-muted">
    <li>合计：{{title.amount||0}}元</li>
    <li>支付宝途径：{{title.alipay||0}}元 （{{title.alipayCount||0}}笔）</li>
    <li>微信支付途径：{{title.wechatpay||0}}元（{{title.wechatCount||0}}笔）</li>
  </ul>
  <div ng-if="post.staffId">
    <table class="table" ng-if="view.result.items">
      <thead>
      <tr>
        <td>序号</td>
        <td>订单号</td>
        <td>
          <div>收费金额</div>
          <div>(元)</div>
        </td>
        <td>方式</td>
        <td>操作员</td>
        <td>时间</td>
      </tr>
      </thead>
      <tbody class="slide-down">
      <tr ng-repeat="row in view.result.items">
        <td ng-bind="((page-1)*count)+$index+1"></td>
        <td><a ng-click="goto('doc/detail/'+ row.orderNo)">{{row.orderNo}}</a></td>
        <td ng-bind="row.amount||0"></td>
        <td ng-bind="row.payMode"></td>
        <td ng-bind="row.staffName||'自助'"></td>
        <td ng-bind="row.time"></td>
      </tr>
      </tbody>
    </table>

  </div>
  <div ng-if="!post.staffId">
    <table class="table" ng-if="view.result.items">
      <thead>
      <tr>
        <td>序号</td>
        <td>
          <div>订单号</div>
        </td>
        <td>
          <div>会员号</div>
        </td>
        <td>
          <div>总金额</div>
          <div>(元)</div>
        </td>
        <td>
          <div>礼品</div>
        </td>
        <td>
          <div>支付方式</div>
        </td>       
        <td>
          <div>时间</div>
        </td>
      </tr>
      </thead>
      <tbody class="slide-down">
      <tr ng-repeat="row in view.result.items">
        <td ng-bind="((page-1)*count)+$index+1"></td>
        <td ng-bind="row.orderNo||0"></td>
        <td >{{row.memberNo}}<span ng-if="row.memberNo">({{row.memberGradeName}})</span></td>
        <td ng-bind="row.amount||0"></td>
        <td ng-bind="row.name + row.count + '朵'||0"></td>
        <td ng-bind="row.payMode||0"></td>       
        <td ng-bind="row.time||0"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
