<div class="row bg-white">
  <div ng-include="'/admin/rule/leftmenu.html'"></div>
  <div class="v-shadow-content ruleadd">
    <form class="form-horizontal" name="ruleForm" ng-submit="sendJsons()">
      <div class="out">
        <div class="col-sm-2">
          <span class="title">名称</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <div class="form-inline">
              <input type="text" class="form-control" ng-model="post.name" required/>
            </div>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">有效期</span>
        </div>
        <div class="col-sm-8">
          <div class="form-inline">
            <input class="form-control" type="datetime-local" min="{{view.initTime}}" ng-model="post.startTime"
                   required/>
            <span class="form-control-static"> - </span>
            <input class="form-control" type="datetime-local" min="{{view.initTime}}" ng-model="post.endTime" required/>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">微信参数二维码</span>
        </div>
        <div class="col-sm-8">
          <div><input type="checkbox" id="wx" ng-model="post.followLimit" class=""/><label for="wx">确认使用</label>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">发起者自己砍价</span>
        </div>
        <div class="col-sm-8">
          <div><input type="checkbox" ng-model="post.selfBargain" id="self" class=""/><label for="self">允许</label>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">购买时限</span>
        </div>
        <div class="col-sm-8">
          <div>
            <input type="checkbox" ng-model="post.buyMinimum" id="yes" class=""/><label for="yes">砍至最终价</label>
            <input type="checkbox" ng-model="post.buyMinimum" ng-true-value="false" id="no" class=""/><label
                  for="no">随时</label>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">购买对象</span>
        </div>
        <div class="col-sm-8">
          <div><input type="checkbox" ng-model="post.selfBuy" id="her" class=""/><label
                  for="her">仅活动发起人</label>
            <input type="checkbox" ng-model="post.selfBuy" ng-true-value="false" id="he" class=""/><label
                    for="he">所有人</label>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">份数限制</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <div>* 不限量填0</div>
            <div class="form-inline">
              <input type="number" class="form-control" ng-model="post.countLimit" required/>
              <span class="form-control-static">份</span>
            </div>

          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">发起限制</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <div class="form-inline">
              <span class="form-control-static">可发起砍价</span>
              <input type="number" class="form-control" ng-model="post.timesLimit" required/>
              <span class="form-control-static">次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">帮砍限制</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group">
            <div class="form-inline">
              <span class="form-control-static">每人每天可帮砍</span>
              <input type="number" class="form-control" ng-model="post.dailyLimit"/>
              <span class="form-control-static">次</span>
            </div>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">规则</span>
        </div>
        <div class="col-sm-10">
          <div class="row form-group">
            <div class="form-inline col-sm-10" style="border: 1px dotted #d5d5d5">
              <div>
                <span class="form-control-static">购买成功后可获得</span>

                <div ng-repeat="item in post.rule.value">
                  <select ng-model="item.id" class="form-control" ng-change="changeCoupon(item)"
                          ng-options="item.id as (item.name + (item.alias?'('+item.alias+')':'')) for item in view.coupons"
                          name="member" required></select>
                  <input type="text" class="form-control" ng-model="item.count" placeholder="如，2" required/>
                  <span class="form-control-static">张</span>

                  <div class="ruleadd2" style="display: inline-block;vertical-align: middle;padding: 10px">
                    <a class="add click" ng-if="$first" ng-click="addFn()"> <i
                            class="glyphicon glyphicon-plus"></i>
                    </a>
                    <a class="remove click" ng-if="!$first" ng-click="removeFn($index)"> <i
                            class="glyphicon glyphicon-remove"></i></a>
                  </div>
                </div>
              </div>
              <p>
                <span class="form-control-static">原价</span>
                <input type="number" step="0.01" class="form-control" ng-model="post.rule.amount" placeholder="如，200"
                       required/>
                <span class="form-control-static">元，砍至</span>
                <input type="number" class="form-control" step="0.01" ng-model="post.rule.currentAmount"
                       placeholder="如，20"
                       required/>
                <span class="form-control-static">元</span>
              </p>

              <p ng-init="view.check=post.rule.min?true:false">
                <input type="checkbox" id="check" ng-model="view.check"><label for="check">随机砍</label><br>
                <span class="form-control-static">每位被邀请砍价的用户，<span ng-if="view.check">最少</span>可砍</span>
                <input type="number" class="form-control" step="0.01" ng-model="post.rule.min" ng-if="view.check"
                       required/>
                <span class="form-control-static" ng-if="view.check">，最多可砍</span>
                <input type="number" step="0.01" class="form-control" ng-model="post.rule.limit" required/>
                <span class="form-control-static">元</span></p>

              <div ng-if="view.check">* 最少人数：{{((post.rule.amount-post.rule.currentAmount)/post.rule.limit).toFixed(1)}}
                最多人数：{{((post.rule.amount-post.rule.currentAmount)/post.rule.min).toFixed(1)}}
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">宣传图</span>
        </div>
        <div class="col-sm-8">
          <div>*最佳比例：375 X 360(2倍以上不会失真)</div>
          <pic-send pic-url="post.picUrl" min-width="" min-height=""></pic-send>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">广告活动</span>
        </div>
        <div class="col-sm-8">
          <ads id="post.advertisement.id"></ads>

        </div>
      </div>

      <div class="out">
        <div class="col-sm-2">
          <span class="title">活动介绍</span>
        </div>
        <div class="col-sm-8">
          <textarea ng-model="post.descriptor" style="height: 150px" class="form-control"></textarea>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">活动图片</span>
        </div>
        <div class="col-sm-8 ">
          <pics-send pic-urls="post.picUrls"></pics-send>

          <!-- <div ng-repeat="item in post.picUrls">
             <div class="form-inline">
               <span class="form-control-static">标题</span>
               <input type="text" class="form-control" ng-model="item.title"/>

               <div class="ruleadd2" style="display: inline-block;vertical-align: middle;padding: 10px">
                 <a class="add click" ng-if="$first" ng-click="addImgFn()"> <i
                         class="glyphicon glyphicon-plus"></i>
                 </a>
                 <a class="remove click" ng-if="!$first" ng-click="removeImgFn($index)"> <i
                         class="glyphicon glyphicon-remove"></i></a>
               </div>
             </div>

             <div>
               <pic-send pic-url="item.url"></pic-send>
             </div>
           </div>-->
        </div>
      </div>

      <div class="out">
        <div class="col-sm-2">
          <span class="title">备注说明</span>
        </div>
        <div class="col-sm-8">
          <textarea  style="height: 150px"  ng-model="post.additional" class="form-control"></textarea>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 mt20">
          <!--<div class="col-sm-3 col-sm-offset-1 ">-->
          <!--<a class="btn btn-default btn-block" back-button>返回</a>-->
          <!--</div>-->
          <div class="col-sm-4">
            <button class="btn btn-primary btn-block" ng-disabled="ruleForm.$invalid">保存</button>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>