<div class="container contents ">
	<div class="row marb15">
		<div class="col-sm-5 ki-shop">
			<h4 class="text-center" ng-bind="view.shop.name"></h4>
			<span ng-bind="view.shop.description||'暂无店铺介绍'"></span>
		</div>
		<div class="col-sm-7 ki-customer ">
			<div class="col-sm-8 " style="padding-left:0">
				<ul class="ki-customer-left col-sm-12">
					<li  ng-click="goto('customer')" class="text-center  col-sm-6" ng-bind="'新增会员'+(view.customerCount[9001].increased||0)+'人'"></li>
					<li ng-click="goto('customer')" class="text-center col-sm-6"  ng-bind="'新增顾客'+(view.customerCount[9002].increased||0)+'人'"></li>
				</ul>
			</div>
			<div ng-click="goto('customer')" class="col-sm-4 ki-customer-right text-center" ng-bind="'顾客总计'+(view.customerCount[9002].total+view.customerCount[9001].total)+'人'"></div>
		</div>
	</div>
	<div class="row marb15">
		<div class="col-sm-5 ">
			<div class="row">
				<div class="col-sm-12 ki-mid bgw">
					<div  class="line-in icons ki-mid-left" ng-repeat="rules in view.rule" ng-if="rules.on">
						<div class="" ng-click="pannel($index)">
							<div class="col-sm-12 ki-mid-left-title">
								<span ng-repeat="(key, value) in rules.icon" class="icon" ng-class="key"></span>
                              <span class="icon" ng-class="rules.activityCategory"></span>
                              <span ng-bind="rules.name"></span>
								
							</div>
							<div class="col-sm-12" ng-repeat="value in rules.text" ng-bind="value"></div>
						</div>
						<div  class="content" ng-show="rules.show" >
							<div class="col-sm-12" ng-repeat="ruleget in rules.rulesget" >
								<span ng-repeat="(key, value) in ruleget" ng-bind="ruleDic[key]+':'+value"></span>
							</div>
						</div>
					</div>

				</div>
				<div class="col-sm-12 text-right bgw ki-more" >
					<a ng-click="goto('rule')" href="">更多</a>
				</div>
			</div>

		</div>
		<div class="col-sm-7 ">

			<div class="col-sm-12 ki-mid bgw">
				<div class="ki-mid-right" ng-repeat="comments in view.comment">
					<div class="col-sm-12 ">
						<div class="pull-left avatar-sm">
							<img ng-src="{{comments.avatarUrl||'public/img/avatar.png'}}"></div>
						<div class="pull-left">
							<p class="title" ng-bind="comments.nickname||'匿名用户'"></p>
							<p ng-bind="comments.createDate+' '+comments.createTime||'匿名用户'"></p>
						</div>
					</div>
					<div class="col-sm-12 ki-mid-content" ng-class="{'Record':comments.consumptionRecord}" ng-bind="comments.content"></div>
					<div class="col-sm-12" >
						<div class="row">
							<div class="pics"  ng-repeat="pics in comments.picUrls" >
								<div >
									<img  ng-src="{{pics.url}}" width="100%" />
								</div>

							</div>
						</div>

					</div>
					<div class="col-sm-12 ki-mid-satisfaction" >
						<div class="row">
							<div class="col-sm-3" ng-bind="'口味:'+view.satisfaction[comments.taste]"></div>
							<div class="col-sm-3" ng-bind="'服务:'+view.satisfaction[comments.service]"></div>
							<div class="col-sm-3" ng-bind="'环境:'+view.satisfaction[comments.surroundings]"></div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-sm-12 text-right bgw ki-more" >
				<a ng-click="goto('comment')" href="">更多</a>
			</div>

		</div>
	</div>
	<!--
	<div class="row">
		<div class="col-sm-2" ng-repeat="pics in view.pic">
			<div class="row"><img ng-src="{{pics.url}}"/></div>
		</div>
	</div>
	-->
</div>