<div class="bgw">
  <div class="row">
    <div ng-include="'/keeper/Staff/leftmenu.html'"></div>
    <div class="v-shadow-content">
      <h4>日期：{{view.date}}</h4>
      <table class="table table-bordered">
        <thead>
        <tr class="plan-title">
          <th>分区/时段</th>
          <th ng-repeat="item in view.tables[0].periodDuties">{{view.type[item.period]}}</th>
        </tr>
        </thead>
        <tbody class="slide-down">
        <tr ng-repeat="(key,item) in view.tables">
          <th>{{item.regionName}}
            <div><a ng-click="deleteRegionFn(item.regionId)">清空</a></div>
          </th>
          <td ng-repeat="(key1,duty) in item.periodDuties">
            <span ng-repeat="staff in duty.staffs"> {{staff.nickname}}</span>
            <div ng-if="duty.staffs">
              <a ng-click="openFn(key,key1)">修改</a>
              <a ng-click="deleteStaffFn(item.regionId,duty.period)">清空</a>
            </div>

            <div ng-if="!duty.staffs"><a ng-click="openFn(key,key1)">添加员工</a></div>
          </td>
        </tr>
        </tbody>
      </table>
      <button class="btn btn-danger" ng-click="deleteAllFn()">清空本日排班</button>
      <button class="btn btn-primary" ng-click="view.check= !view.check">将本日排班应用到其他日期</button>
      <div class="col-sm-12 mt15 mb15" ng-if="view.check">
            <span ng-repeat="item in view.text track by $index">
              <span class="label label-info click" ng-click="removeFn($index)">{{item}} <span
                      class="text-red">x</span></span>
            </span>
        <div class="form-inline mt15">
          <input class="form-control" type="date" ng-model="post.date">
          <span class="label label-primary click" ng-click="tagSelectFn()">添加</span>
        </div>
        <div class="mt15">
          <button class="btn btn-primary" ng-click="submitDateFn()">提交</button>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="staffSelect" aria-hidden="true">
  <div class="modal-dialog" style="display:block;">
    <div class="modal-content ">
      <form name="chooseform">
        <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">在分区下添加员工</h4>
        </div>
        <div class="modal-body form-horizontal" style="overflow:hidden">

          <div class="col-sm-12 tablelist">
            <div class="tablesout" ng-repeat="staff in posts.staff" ng-click="staff.check = !staff.check">
              <div ng-class="{'clicked':staff.check}" class="tables out pull-left click">
                <Div class="remove text"></Div>
                <Div class="seat">{{staff.nickname}}</Div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <div class="btn btn-primary btn-block" ng-disabled="chooseform.$invalid"
                 ng-click="submitFn()">确定
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="btn btn-default btn-block" ng-click="cancelAction()" data-dismiss="modal">关闭</div>
          </div>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
