<div class="row bg-white">
  <div ng-include="'/keeper/Staff/leftmenu.html'"></div>
  <div class="v-shadow-content">
    <div class="container contents bgw" id="calendar">
      <div class="col-sm-12 text-right">
        <a ng-click="dutySwitch()" class="btn btn-primary" ng-if="!view.setting.enabled">开启值班系统</a>
        <a ng-click="dutySwitch()" class="btn btn-primary" ng-if="view.setting.enabled">关闭值班系统</a>
      </div>
      <div class="">
        <h3>值班轮转        <a style="font-size: 10px;text-decoration: underline" ng-click="goto('staff/templateDuty')">查看模板</a></h3>
        <form enctype="multipart/form-data" class="col-sm-7" name="templateform">
          <div>* 模板将于开始时间后一天开始生效</div>
          <div class="form-group mt15">
            <label for="date" class="col-sm-2 control-label text-right">开始时间</label>

            <div class="col-sm-5">
              <input type="date" ng-model="post.date" id="date" name="date" class="form-control" required>
            </div>
            <div class="help-block col-sm-5" ng-messages="templateform.date.$error">
              <div ng-message="required">时间不能为空</div>
            </div>
          </div>
          <div class="form-group mt15 clear form-inline ruleadd2">
            <label class="col-sm-2 control-label text-right">轮班模板</label>
            <div class="col-sm-7">
              <div class="clear" style="margin-bottom: 15px" ng-repeat="item in post.templates">
                <span class="form-control-static">第{{$index+1}} 天 </span>
                <select ng-model="item.id" class="form-control" style="width: 55%;"
                        ng-options="item.id as item.name for item in view.templates" name="member" required>
                </select>
                <a class="add click pull-right" ng-if="$first" ng-click="addFn()"> <i
                        class="glyphicon glyphicon-plus"></i></a>
                <a class="remove click pull-right" ng-if="!$first"
                   ng-click="removeFn($index)"> <i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>

          </div>
          <div class="col-sm-3 clear col-sm-offset-2">
            <div class="btn btn-primary btn-block" ng-disabled="templateform.$invalid"
                 ng-click="addTemplateFn()">应用
            </div>
          </div>
          <div class="col-sm-3">
            <div class="btn btn-default btn-block" ng-disabled="templateform.$invalid"
                 ng-click="closeDutyFn()">清除模板
            </div>
          </div>
        </form>
        <!--<div>开始时间：{{view.setting.startDate}}</div>-->
        <!--<div>包含的模板：<span ng-repeat="item in view.setting.templates">{{item.name}},</span></div>-->
        <!--<a ng-click="openFn()" class="btn btn-primary">修改</a>-->
        <!--<a ng-click="goto('staff/templateDuty')" class="btn btn-primary">查看模板</a>-->

      </div>
      <section id="directives-calendar" class="clear mt15">
        <h3>值班日历</h3>
        <div class="calendar" ng-model="eventSources" ng-click="redirectFn($event)" calendar="myCalendar1"
             ui-calendar="uiConfig.calendar"></div>
      </section>

    </div>
  </div>
</div>
<!--
<div class="modal fade bs-example-modal-sm" id="selectTemplate" aria-hidden="true">
  <div class="modal-dialog" style="display:block;">
    <div class="modal-content ">
      <form enctype="multipart/form-data" name="templateform">
        <div class="modal-header ">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">选择值班模板</h4>
        </div>
        <div class="modal-body form-horizontal" style="overflow:hidden">
          <div class="form-group">
            <label for="date" class="col-sm-3 control-label text-right">开始时间</label>

            <div class="col-sm-5">
              <input type="date" ng-model="post.date" id="date" name="date" class="form-control" required>
            </div>
            <div class="help-block col-sm-4" ng-messages="templateform.date.$error">
              <div ng-message="required">时间不能为空</div>
            </div>
          </div>
          <div class="form-group form-inline ruleadd2">
            <label class="col-sm-3 control-label text-right">轮班模板</label>
            <div class="col-sm-7">
              <div class="clear" style="margin-bottom: 15px" ng-repeat="item in post.templates">
                <span class="form-control-static">第{{$index+1}} 天 </span>
                <select ng-model="item.id" class="form-control" style="width: 55%;"
                        ng-options="item.id as item.name for item in view.templates" name="member" required>
                </select>
                <a class="add click pull-right" ng-if="$first" ng-click="addFn()"> <i
                        class="glyphicon glyphicon-plus"></i></a>
                <a class="remove click pull-right" ng-if="!$first"
                   ng-click="removeFn($index)"> <i class="glyphicon glyphicon-remove"></i></a>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="col-md-6">
            <div class="btn btn-primary btn-block" ng-disabled="templateform.$invalid"
                 ng-click="addTemplateFn()">确定
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="btn btn-default btn-block" ng-click="cancelAction()" data-dismiss="modal">关闭</div>
          </div>
        </div>
      </form>
    </div>
    &lt;!&ndash; /.modal-content &ndash;&gt;
  </div>
  &lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>-->

