<div class="row bgw">
  <div ng-include="'/admin/notice/leftmenu.html'"></div>
  <div class="v-shadow-content">
    <div class="nav-title">
      <div class="active">
        到期提醒
      </div>
    </div>
    <!---->
    <!---->
    <div class="ruleadd">
      <div class="col-sm-2">
        券到期通知
      </div>
      <div class="col-sm-8">
        <label> <input type="checkbox" ng-model="post.path" ng-true-value="101"/>智能路由推送</label>

        <div class="check-add">默认使用公众号消息推送，如顾客尚未关注公众号则使用短信推送</div>
        <div>
          <label> <input type="checkbox" ng-model="hand_click" ng-disabled="post.path == '101'"/>手动选择推送</label>

          <div ng-show="hand_click" class="padding">
            <label> <input type="checkbox" ng-model="wx" ng-change="change()"/>公众号消息推送</label>
            <label> <input type="checkbox" ng-model="message" ng-change="change()"/>短信推送<span> 按短信条数计费</span></label>
          </div>

        </div>
        <div class="padding form-inline" style="margin-top: 5px">
          通知周期： 到期前 <input type="number" class="form-control" ng-model="post.times" placeholder="1-30" ng-change="change()"/>天通知
          <div class="check-add" style="padding-left: 20px">注意：周期天数，每个自然月仅可更改一次</div>
        </div>
        * 微信消息发送时间：10：00

      </div>
    </div>
    <div class="row" style="clear: both;margin-left: 30%">
      <button type="button" ng-click="postSend()" class="btn btn-primary">保存设置</button>
    </div>
  </div>
</div>
