<div class="bgw">
  <div class="row">
    <div ng-include="'/keeper/rule/leftmenu.html'"></div>
    <div class="v-shadow-content">
      <div class="col-md-12 col-xs-12 text-center">
        <div class="col-md-12"><h3>已上线</h3></div>
      </div>
      <div class="col-md-12 time-line1 ">
        <div class="mt10" ng-repeat="rules in view.rule" ng-show="rules.on">
          <div class="line-in icons" ng-class="{'line-in-last':$last}">
            <div class="col-sm-12 mb15">
              <span class="icon" ng-class="rules.activityCategory"></span>
              <span ng-bind="rules.name"></span>
            </div>
            <div class="content">
              <div class="col-md-12" ng-repeat="(key, value) in rules.text">
                {{value}}
              </div>
              <div class="col-md-12" ng-if="rules.ruleTextMap.length">活动内容：</div>
              <div class="col-md-12" ng-repeat="(key, value) in rules.ruleTextMap">
                {{value.name}}:<span ng-repeat="content in value.content" ng-bind="content"></span>
              </div>
              <div class="col-md-12">
                <div>活动分享链接</div>
                <input value="{{rules.url}}" readonly>
                <button ng-click="copyFn(rules.url)">复制链接</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <Div class="col-md-10 col-md-offset-1" ng-if="view.rule.length<1">暂未添加活动</Div>
    </div>
  </div>
</div>
