<div class="row bg-white">
  <div ng-include="'/keeper/rule/leftmenu.html'"></div>
  <div class="v-shadow-content">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a ng-class="{'bg-grey':!view.state}"><strong>会员等级设定 </strong>
        <button class="btn btn-primary btn-xs" ng-show="!view.state">已停用</button>
      </a></li>
    </ul>
    <table id="upgrade-table" class="table" ng-class="{'bg-grey':!view.state,'table-striped':view.state}">
      <tr ng-repeat="members in view.member" ng-click="view.member.edit=$index">
        <td ng-class="{'bg-grey':!view.state}" class="vertical-middle">
          <div class="radius-through">
            <div class="radius"></div>
          </div>
          <div class="radius-text"><span class="orange-radius">{{members.toGrade}}</span>{{members.toName}}</div>
        </td>
        <td>
          <div>海报图片</div>
          <img ng-src="{{members.posterUrl}}" style="height: 62px">
        </td>
        <td>
          <div>会员卡</div>
          <img ng-src="{{members.cardUrl}}" style="height: 62px">
        </td>
        <td>
          <ul>
            <li style="text-align: left" ng-repeat="strategy in members.strtegyTexts">
              <span class="text-orange">●</span> {{strategy}}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
