<div class="row bg-white">




    <div class="v-shadow">
        <div ng-include="'/admin/final/leftmenu.html'"></div>

    </div>

    <!-- 左边菜单end -->
    <div class="v-shadow-content  bgw">
        <div class="row mb15">
            <div class="col-xs-4 flexStart">
                <p class="mr15">类型</p>
                <!-- BM的动态二维码按下面这个来：
    // ---------普通二维码---------
    /**
     * 活码-客户公众号微信参数二维码，永久有效
     */
    DYNAMIC_WX("V", "8010"),
    /**
     * 活码-上宾短链接，永久有效
     */
    DYNAMIC_SHORT("S", "8011"),
    // ---------小程序二维码---------
    /**
     * 活码-共享卡小程序二维码
     */
    DYNAMIC_SALER_QR("R", "8020"),
    /**
     * 活码-上宾生活小程序二维码
     */
    DYNAMIC_LIFE_APP("L", "8021"),
    // ---------小程序码---------
    /**
     * 活码-共享卡小程序码
     */
    DYNAMIC_SALER_APP("A", "8030"), -->
                <select name="" id="" ng-model="dynamic.type" class="form-control flex1">
                    <option value="">请选择</option>
                    <option value="8010">客户公众号微信参数二维</option>
                    <option value="8011">上宾短链接</option>
                    <!-- <option value="8012">小程序二维码</option> -->
                    <option value="8020">共享卡小程序二维码</option>
                    <option value="8021">上宾生活小程序二维码</option>
                    <option value="8030">共享卡小程序码</option>
                </select>
            </div>
            <div class="col-xs-4 flexStart">
                <p class="mr15">状态</p>
                <select name="" id="" ng-model="dynamic.bound" class="form-control flex1">
                    <option value="">请选择</option>
                    <option value="1">已绑定</option>
                    <option value="0">未绑定</option>
                </select>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-primary" ng-click="search()">查询</button>
                <button class="btn btn-warning" ng-click="showSupplu()">申请新码</button>
            </div>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>编号</th>
                        <th>类型</th>
                        <th>二维码</th>
                        <th>是否绑定</th>
                        <th>绑定场景</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dynamicList.items">
                        <td>{{$index+1}}</td>
                        <td>{{item.code}}</td>
                        <td>{{item.type=='8010'?'微信参数二维码':'短链接'}}</td>
                        <td>
                            <a ng-href="{{item.qrcodeUrl}}" target="_blank">
                                <img ng-src="{{item.qrcodeUrl}}" alt="" style="width: 50px;height:50px;">
                            </a>
                        </td>
                        <td>{{item.bound?'是':'否'}}</td>
                        <td>{{item.action}}</td>
                        <td>
                            <a ng-click="seeBusiness($index)">查看绑定业务</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-12" ng-if="dynamicList&&dynamicList.pageSize>1">
                <pagination items-per-page="dynamicList.count" boundary-links="true" rotate="false" max-size="20"
                            total-items="dynamicList.total" ng-model="dynamic.page" ng-change="pageChangeDynamic()"
                            class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                            first-text="&laquo;" last-text="&raquo;"></pagination>
              </div>
        </div>

    </div>


</div>


<div class="modal fade bs-example-modal-sm" id="supply" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">申请新码</h4>
            </div>
            <div class="modal-body" style="overflow:hidden">
                <div class="form-group">
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15">类型</p>
                        <select name="" id="" ng-model="supply.type" class="form-control flex1">
                            <option value="">请选择</option>
                            <option value="8010">客户公众号微信参数二维</option>
                            <option value="8011">上宾短链接</option>
                            <!-- <option value="8012">小程序二维码</option> -->
                            <option value="8020">共享卡小程序二维码</option>
                            <option value="8021">上宾生活小程序二维码</option>
                            <option value="8030">共享卡小程序码</option>
                        
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-8 flexStart">
                        <p class="mr15">数量</p>
                        <input id="" ng-model="supply.count" maxlength="10" minlength="1" class="form-control flex1"></input>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-3 col-md-offset-3">
                    <div class="btn btn-primary btn-block" ng-click="submitSupply()">确定</div>
                </div>
                <div class="col-md-3 col-md-setoff-1">
                    <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>




<div class="modal fade bs-example-modal-sm" id="busModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">绑定推广业务</h4>
            </div>
            <div class="modal-body" style="overflow:hidden">
                <div class="form-group">
                    <!-- <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">二维码类型</p>
                        <select name="" id="" ng-model="busModalData.type" class="form-control flex1">
                            <option value="">请选择</option>
                            <option value="8010">微信参数二维码</option>
                            <option value="8011">短链接</option>
                        </select>
                    </div>
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">门店</p>
                        <select class="form-control flex1" ng-model="busModalData.shopId"
                            ng-options="item.id as item.name  for item in factors.shops" ng-change="shopsPromoteChange(busModalData.shopId)">
                        </select>
                    </div>
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">服务员</p>
                        <select name="" id="" ng-model="busModalData.staffId" class="form-control flex1"
                            ng-options="item.id as item.nickname  for item in fillterPromoteStaff">
                        </select>
                    </div> -->
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">业务</p>
                        <select class="form-control flex1" ng-model="busModalData.business" disabled  ng-change="businessChange(busModalData.business)"
                        ng-options="item.code as  item.text   for item in factors.business">
                        </select>
                    </div>
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">业务详情</p>
                        <select class="form-control flex1" ng-model="busModalData.activityId"  disabled
                        ng-options="item.activityId as item.name  for item in fillterActivity" >
                       </select>
                    </div>
                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">群邀请</p>
                        <p class="flexStart">
                            <input type="checkbox" ng-model="busModalData.linkForce"  disabled>
                            <span>进群后才可以办理业务</span>
                        </p>
                      
                    </div>

                    <div class="col-xs-8 flexStart mb15">
                        <p class="mr15 col-xs-4">群/个人二维码</p>
                        <form enctype="multipart/form-data" id="iimgform" class="flexStart">
                           
                            <!-- <input style="min-height: 100px;" class="hide" type="file" id="uploadfile"
                                accept="image/bmp,image/jpeg,image/jpg,image/png,image/gif"
                                ng-model="busModalData.linkPicUrl" name="file"
                                onchange="angular.element(this).scope().imgUpload(this)" /> -->
                             <img ng-if="busModalData.linkPicUrl"  ng-src="{{busModalData.linkPicUrl}}" style="height: 100px">   
                             <!-- <label class="btn btn-primary pull-right ml15" for="uploadfile">本地上传</label> -->
                        </form>
                       
                    </div>

                    <div class="col-xs-8 flexStart">
                        <p class="mr15 col-xs-4">群/个人二维码过期时间</p>
                        <input type="date" style="color: #18A0D4" ng-model="busModalData.expireTime" disabled
                            class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <!-- <div class="col-md-3 col-md-offset-3">
                    <div class="btn btn-primary btn-block" >确定</div>
                </div> -->
                <div class="col-md-3 col-md-setoff-1 pull-right">
                    <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>