<div class="v-shadow">
  <label class="left-tag" style="margin: 20px 0">桌台管理</label>

  <div class="list-group click">
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='regions'}"  ng-click="goto('table/regions')">分区管理</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='tables'}" ng-click="goto('table/tables')">桌台管理</a>
    <a class="list-group-item" ng-class="{'active':config.breadset[0].class=='reserve'}" ng-click="goto('table/reserve')">预定管理</a>

  </div>
</div>
