<div class="row bg-white">
  <div ng-include="'/keeper/Table/leftmenu.html'"></div>
  <div class="v-shadow-content">
    <div class="container contents bgw">

      <div class="col-sm-12 form-control-stack text-left mb22">
        <button class="btn btn-primary" onclick="$('#addRegions').modal('show')">新增</button>

      </div>
      <table class="table table-bordered">
        <thead>
        <tr class="plan-title">
          <td>序号</td>
          <td>名称</td>
          <td>编号</td>
          <td>桌台数</td>
          <td>描述</td>
          <td>操作</td>
        </tr>
        </thead>
        <tbody class="slide-down">
        <tr ng-repeat="row in view.regions.items">
          <td ng-bind="((view.regions.page-1)*view.regions.count)+$index+1"></td>
          <td ng-bind="row.name"></td>
          <td ng-bind="row.sequence"></td>
          <td ng-bind="row.tableCount"></td>
          <td ng-bind="row.description"></td>
          <td>
            <a ng-click="goto('table/region/'+ row.id)">详情</a>
            <a ng-click="regionDelFn($index)">删除</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="col-sm-12 plan-son text-left" ng-if="!view.regions.items">
        无查询结果
      </div>
      <div class="col-sm-12" ng-if="view.regions.pageSize>1">
        <pagination items-per-page="view.regions.count" boundary-links="true" total-items="view.regions.total"
                    ng-model="view.regions.page" class="pagination-sm" previous-text="&lsaquo;" ng-change="pageChange()"
                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
      </div>
    </div>
    <div class="modal fade bs-example-modal-sm" id="addRegions" aria-hidden="true">
      <div class="modal-dialog modal-sm" style="display:block;">
        <div class="modal-content ">
          <form enctype="multipart/form-data" name="regionform">
            <div class="modal-header ">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title">添加分区</h4>

              <div class="text-red">*桌号不能重复</div>
            </div>
            <div class="modal-body form-horizontal" style="overflow:hidden">
              <div class="form-group">
                <label for="name" class="col-sm-3 control-label text-right">名称</label>

                <div class="col-sm-9 " id="name">
                  <input ng-model="post.name" name="name" ng-minlength='1' ng-maxlength='10' class="form-control"
                         placeholder="1-10个字符" required>

                  <div class="help-block" ng-messages="regionform.name.$error">
                    <div ng-message="required">名称不能为空</div>
                    <div ng-message="maxlength">名称需小于10个字符</div>
                    <div ng-message="minlength">名称需大于1个字符</div>
                  </div>
                </div>
              </div>

              <div class="form-group ">
                <label for="sequence" class="col-sm-3 control-label text-right">序号</label>

                <div class="col-sm-9 " id="sequence">
                  <input ng-model="post.sequence" min="1" type="number" class="form-control" name="sequence" required>

                  <div class="help-block" ng-messages="regionform.sequence.$error">
                    <div ng-message="required">序号不能为空</div>
                  </div>
                </div>

              </div>
              <div class="form-group">
                <label for="description" class="col-sm-3 control-label text-right">描述</label>

                <div class="col-sm-9 " id="description">
                  <textarea class="form-control" ng-model="post.description"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-md-6">
                <div class="btn btn-primary btn-block" ng-disabled="regionform.$invalid"
                     ng-click="submitFn()">确定
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>
              </div>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

  </div>
</div>