<div class="row bg-white">
  <div ng-include="'/admin/rule/leftmenu.html'"></div>
  <div class="v-shadow-content ruleadd">
    <div class="col-md-12 shopshow">
      <div class="col-sm-12 mb15">
        <button type="button" class="btn btn-primary pull-right" ng-click="goto('rule/ads/add')">新增
        </button>
      </div>
      <ul>
        <li ng-repeat="item in view.list.items" class="rotate-in" style="margin:5px 20px;">
          <div class="user-list">
            <div class="">
              <a class="btn btn-xs btn-primary" ng-click="goto('ads/edit/'+item.id)">编辑</a>
              <a class="btn btn-xs btn-danger" ng-click="remove($index)">删除</a>
            </div>
            <div><img ng-src="{{item.transversePicUrl}}" width="100%" height="130px"></div>
            <div class="title">{{item.title}}</div>
            <div class="price">{{item.content}}</div>
          </div>

        </li>
      </ul>
    </div>
    <div class="col-sm-12" ng-if="view.list.pageSize>1">
      <pagination items-per-page="view.list.count" boundary-links="true" rotate="false" max-size="20"
                  total-items="view.list.total" ng-model="view.list.page"
                  class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                  first-text="&laquo;" last-text="&raquo;" ng-change="pageChange()"></pagination>
    </div>
  </div>
</div>