<div class="container contents bgw">
		<form name="staffadd_form" ng-submit="staffaddsend()">
			<div class="col-md-12">
				<div class="col-sm-10 col-sm-offset-2 form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label"></label>
						<div class="col-sm-6 text-red">*为必选项</div>
					</div>
					<div class="form-group b30">
						<label for="refund" class="col-sm-2 control-label text-right">
							操作密码<span class="text-red">*</span>
						</label>
						<div class="col-sm-6">
							<!--首次设置密码-->
							<div class="form-group b15" ng-if="!authorized">
								<div class="col-sm-6">
									<input  class="form-control" id="setpass" ng-model="password" name="password" placeholder="请输入操作密码" ng-blur="checklength()"
									 ng-minlength='8' ng-maxlength='20' required></div>
								<span class="help-block" ng-messages="staffadd_form.password.$error">
									<div ng-message="required">8-20个字符</div>
									<div class="text-red" ng-message="minlength">需大于8个字符</div>
									<div class="text-red" ng-message="maxlength">需小于20字符</div>
								</span>
								<!-- <span class="help-block" ng-show="staffadd_form.refund.password.$valid">输入正确</span> -->
							</div>
							<!-- 已经设置过密码,重置密码 -->
							<div class="form-group b30" ng-if="authorized">
							    <!-- <label for="refund" class="col-sm-2 control-label text-right">
									如需修改密码
								</label> -->
								<button id="btn" ng-click="changepassword()" >修改密码</button>
								<div  class="col-sm-6">
								<input ng-if="switch" type="password" id="newpass" class="form-control" ng-model="password" ng-blur="checklength()"
									 placeholder="请输入新的操作密码" name="password" required></div>
								<span class="help-block" ng-messages="staffadd_form.password.$error">
	
								</span>
								<!-- <span class="help-block" ng-show="staffadd_form.refund.password.$valid">输入正确</span> -->
							</div>
						</div>
					</div>
					<hr />
					<!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							一键填充
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<button class="btn btn-primary"  type="button" ng-click="autoClick()">一键填充</button>
							</label>
						</div>
					</div> -->
					<!-- 服务员管理 -->
				 <!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							服务员账号管理
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="staff.authorized" ng-checked="staff.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<div class="form-group b30">
						<label for="refund" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="staff.object['ADD']" ng-checked="staff.object['ADD']">
								<span>添加服务员</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="staff.object['UPDATE']" ng-checked="staff.object['UPDATE']">
								<span>修改服务员</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="staff.object['QUERY']" ng-checked="staff.object['QUERY']">
								<span>查询</span>
							</label>
						</div>
					</div>
					<hr />  -->
					<!-- 激活码管理 -->
					<!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
						 激活码管理
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activate.authorized" ng-checked="activate.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<div class="form-group b30">
						<label for="refund" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activate.object['ADD']" ng-checked="activate.object['ADD']">
								<span>申请</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activate.object['UPDATE']" ng-checked="activate.object['UPDATE']">
								<span>解绑</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activate.object['QUERY']" ng-checked="activate.object['QUERY']">
								<span>查询</span>
							</label>
						</div>
					</div>
	
					<hr />
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							支付方式
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="pay.object[1000]" ng-checked="pay.object[1000]">
								<span>刷卡</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="pay.object[1001]" ng-checked="pay.object[1001]">
								<span>现金</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="pay.object[1005]" ng-checked="pay.object[1005]">
								<span>微信</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="pay.object[1101]" ng-checked="pay.object[1101]">
								<span>支付宝</span>
							</label>
						</div>
					</div>
					<hr /> -->
					<!-- 买单播报 -->
					<!--  <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							买单播报
						</label>
						<div class="col-sm-8">
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="check.object['STAGE']" ng-class="{active:check.object['STAGE']}"
								 ng-click="settime('STAGE', 'STAGE')">前台</label>
							</label>
						</div>
						<div class="col-sm-7 col-sm-offset-2">
							<label class="timecheck" ng-repeat="item in tables.result">
								<label class="btn glyphicon  btn-default" ng-model="check.object[item.id]" ng-class="{active:check.object[item.id]}"
								 ng-click="settime(item.id, 'STAGE')" ng-bind='item.name'></label>
							</label>
						</div>
	
					</div> -->
					<!-- <hr />  -->
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							订单退款
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="refund.authorized" ng-checked="refund.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<div class="form-group b30">
						<label for="refund" class="col-sm-2 control-label text-right">
							订单类型
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="refund.object[901]" ng-checked="refund.object[901]">
								<span>消费订单</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="refund.object[902]" ng-checked="refund.object[902]">
								<span>充值订单</span>
							</label>
							<!-- <label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="refund.object[909]" ng-checked="refund.object[909]">
								<span>快速收款订单</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="refund.object[920]" ng-checked="refund.object[920]">
								<span>预定订单</span>
							</label> -->
						</div>
					</div>
					<hr />
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							会员权益
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="benefit.authorized" ng-checked="benefit.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<!-- 顾客权益 -->
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="benefit.operations['ADD']" ng-class="{active:benefit.operations['ADD']}"
								 ng-click="settime('ADD')">增加</label>
							</label>
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="benefit.operations['UPDATE']" ng-class="{active:benefit.operations['UPDATE']}"
								 ng-click="settime('UPDATE')">扣减</label>
							</label>
						</div>
					</div>
					<div class="form-group" ng-if="benefit.operations['ADD'] ||benefit.operations['UPDATE'] ">
						<label for="shopType" class="col-sm-2 control-label text-right">
							<span class="text-red">*</span>
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="benefit.object[1014]" ng-checked="benefit.object[1014]">
								<span>充值卡余额</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="benefit.object[1015]" ng-checked="benefit.object[1015]">
								<span>积分</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="benefit.object[1016]" ng-checked="benefit.object[1016]">
								<span>券</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="benefit.object[1017]" ng-checked="benefit.object[1017]">
								<span>代用币</span>
							</label>
						</div>
					</div>
					<!-- <hr />
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							奖励
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="profits.authorized" ng-checked="profits.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div> -->
					<!-- 奖励 -->
					<!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="profits.operations['ADD']" ng-class="{active:profits.operations['ADD']}"
								 ng-click="settime2('ADD')">签收</label>
							</label>
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="profits.operations['UPDATE']" ng-class="{active:profits.operations['UPDATE']}"
								 ng-click="settime2('UPDATE')">分配</label>
							</label>
						</div>
					</div> -->
					<!-- <div class="form-group" ng-if="profits.operations['ADD'] ||profits.operations['UPDATE'] ">
						<label for="shopType" class="col-sm-2 control-label text-right">
							<span class="text-red">*</span>
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="profits.object[8002]" ng-checked="profits.object[8002]">
								<span>打赏</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="profits.object[8010]" ng-checked="profits.object[8010]">
								<span>充值提成</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="profits.object[8011]" ng-checked="profits.object[8011]">
								<span>入会提成</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="profits.object[8012]" ng-checked="profits.object[8012]">
								<span>月卡提成</span>
							</label>
						</div>
					</div> -->
					 <!-- <hr /> 
					 <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							排班管理
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="duty.authorized" ng-checked="duty.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>  -->
					<!-- 值班 -->
					 <!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="duty.object['UPDATE']" ng-checked="duty.object['UPDATE']">
								<span>修改</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="duty.object['QUERY']" ng-checked="duty.object['QUERY']">
								<span>查询</span>
							</label>
						</div>
					</div>  -->
					<!-- 活动 -->
					<hr />
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							活动
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activity.authorized" ng-checked="activity.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							活动类型
						</label>
						<div class="col-sm-8">
							<!-- <label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activity.object[6001]" ng-checked="activity.object[6001]">
								<span>升级</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activity.object[6002]" ng-checked="activity.object[6002]">
								<span>充值</span>
							</label> -->
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activity.object[6004]" ng-checked="activity.object[6004]">
								<span>打印实体券</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="activity.object[6033]" ng-checked="activity.object[6033]">
								<span>打印新人礼</span>
							</label>
						</div>
					</div>
					<hr />
					<!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							预定管理
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="reserve.authorized" ng-checked="reserve.authorized">
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div> -->
					<!-- 预定 -->
					<!-- <div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-8">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="reserve.object['ADD']" ng-checked="reserve.object['ADD']">
								<span>线下预定</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="reserve.object['UPDATE']" ng-checked="reserve.object['UPDATE']">
								<span>确认到店</span>
							</label>
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="reserve.object['DELETE']" ng-checked="reserve.object['DELETE']">
								<span>取消预定</span>
							</label>
						</div>
					</div>
	 -->
					<!-- 会员权益 -->
					<!-- <hr /> -->
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							会员管理
						</label>
						<div class="col-sm-8 b20">
							<label class="checkbox-inline mr35">
								<input type="checkbox" ng-model="customer.authorized" ng-checked="customer.authorized" >
								<span>是否需要验证密码</span>
							</label>
	
						</div>
					</div>
					<div class="form-group b30">
						<label for="shopType" class="col-sm-2 control-label text-right">
							操作类型
						</label>
						<div class="col-sm-10">
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="customer.operations['ADD']" ng-class="{active:customer.operations['ADD']}"
								 ng-click="settime('ADD', 'ADD')">直接发卡</label>
							</label>
							<!-- <label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="customer.operations['UPDATE']" ng-class="{active:customer.operations['UPDATE']}"
								 ng-click="settime('UPDATE', 'ADD')">升级</label>
							</label>
							<label class="timecheck">
								<label class="btn glyphicon  btn-default" ng-model="customer.operations['QUERY']" ng-class="{active:customer.operations['QUERY']}"
								 ng-click="settime('QUERY', 'ADD')">查询</label>
							</label> -->
						</div>
					</div>
					<div class="form-group b30" ng-if="customer.operations['ADD']">
						<label for="shopType" class="col-sm-2 control-label text-right">
							<span class="text-red">*</span>
						</label>
						<div class="col-sm-10">
							<label class="checkbox-inline mr35" ng-repeat="item in grade.result">
								<input type="checkbox" ng-model="customer.object[item.id]" ng-checked="customer.object[item.id]">
								<span ng-bind="item.name"></span>
							</label>
						</div>
					</div>
					<hr />
				</div>
	
				<div class="col-sm-10 col-sm-offset-2" style="margin-top: 40px">
					<div class="row">
						<div class="col-sm-3">
							<a class="btn btn-default btn-block" ng-click="goto('staff')">返回</a>
						</div>
						<div class="col-sm-3 col-sm-offset-1">
							<button type="submit" ng-disabled="!submit" class="btn btn-primary btn-block">提交</button>
						</div>
					</div>
				</div>
			</div>
	</div>
	</form>
	</div>