<div class="row bg-white">
    <div ng-include="'/admin/rule/leftmenu.html?v12'"></div>
    <div class="v-shadow-content ruleadd">
        <form class="form-horizontal" name="ruleForm" ng-submit="sendJsons()">
            <div class="out">
                <div class="col-sm-2">
                    <span class="title"><span class="text-red">*</span>名称</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" class="form-control" ng-model="posts.name" required />
                        </div>
                    </div>
                </div>
            </div>


            <div class="out">
                <div class="col-sm-2">
                    <span class="title">有效期</span>
                </div>
                <div class="col-sm-8" my-date-picker data="view.date" date-range="view.dateRange" is-edit="post.isEdit">
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2">
                    <span class="title">参与门店</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-control-stack">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="posts.allShop" ng-change="checkAllShops()">全选</label>
                    </div>
                    <div class="form-control-stack">
                        <label class="checkbox-inline" ng-repeat="(key,shops) in set.list" ng-class="{ml30:$index==0}">
                            <input type="checkbox" ng-model="set.shops[key]" ng-true-value="{{shops.id}}"
                                ng-change="checkShops(set.shops[key])">
                            <span ng-bind="shops.name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="col-sm-2">
                    <span class="title">发布途径</span>
                </div>
                <div class="col-sm-8">
                    <div class="text-grey">如不勾选则本活动对全部顾客可见</div>
                    <div class="form-group" ng-init="posts.pathway='ALL'">
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="ONLINE"
                                    ng-false-value="ALL">仅在活动中心可见（即，仅未到店顾客可见）</label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="ARRIVAL"
                                    ng-false-value="ALL">仅在门店首页可见（即，仅已到店顾客可见）</label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="HIDDEN"
                                    ng-false-value="ALL">不对任何顾客可见（仅需要获取到本活动URL地址时勾选）</label>
                        </div>
                    </div>
                </div>
            </div>


            <div class="out">
                <div class="col-sm-2">
                    <span class="title"><span class="text-red">*</span>活动封面图</span>
                </div>
                <div class="col-sm-8">
                    <div>*最佳比例：375 X 220(2倍以上不会失真)</div>
                    <pic-send style="padding: 15px 0" pic-url="posts.picUrl" min-width="" min-height=""></pic-send>
                </div>
            </div>



            <div class="out">
                <div class="col-sm-2">
                    <span class="title">广告活动</span>
                </div>
                <div class="col-sm-8">

                    <ads id="posts.advertisement.id"></ads>

                </div>
            </div>

            <div class="out">
                <div class="col-sm-2">
                    <span class="title"><span class="text-red">*</span>红包\返佣</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="col-sm-12 form-inline">
                            <div class="form-control-static">选择红包</div>
                            <select ng-model="posts.packetActId" class="form-control"
                                ng-options="item.id as item.name for item in set.packet">
                                <option value="">-- 请选择 --</option>
                            </select>

                        </div>
                        <div class="col-sm-12 form-inline " style="margin-top:20px;">
                            <div class="form-control-static">选择返佣</div>
                            <select ng-model="posts.commisionActId" class="form-control "
                                ng-options="item.id as item.name for item in set.commision">
                                <option value="">-- 请选择 --</option>
                            </select>
                        </div>
                        <div class="col-sm-12 form-inline " style="margin-top:20px;">
                            <div class="form-control-static">红包总数</div>
                            <input type="text" class="form-control" ng-model="set.countLimit">
                        </div>
                    </div>
                </div>
            </div>


            <div class="out">
                <div class="col-sm-2">
                    <span class="title">限制</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">

                        <div class="col-sm-12 form-inline " style="margin-top:20px;">
                            <input type="number" class="form-control" ng-model="set.timesLimit" />
                            <div class="form-control-static">天后可再次领取</div>
                        </div>
                        <div class="col-sm-12 form-inline " style="margin-top:20px;">
                            <input type="number" class="form-control" ng-model="set.distanceLimit" />
                            <div class="form-control-static">米范围内可获得现金</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="col-sm-2">
                    <span class="title">人数</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="col-sm-12 form-inline " style="margin-top:20px;">
                            <div class="form-control-static">同城</div>
                            <input type="number" class="form-control" ng-model="set.personLimit" />
                            <div class="form-control-static">人领取</div>
                        </div>
                        <div class="form-group mb15" ng-repeat="(key,item) in set.personLimitDetail">
                            <div class="col-sm-12 form-inline">
                                <div class="col-sm-9 form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon ">消费</span>
                                            <input type="text" class="form-control" ng-model="item.amount"
                                                placeholder="请输入分账固定金额">
                                            <span class="input-group-addon ">元</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top:20px;">
                                        <div class="input-group">
                                            <input type="text" class="form-control" ng-model="item.count"
                                                placeholder="请输入分账比例">
                                            <span class="input-group-addon ">人领取</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-left: 15px">
                                    <a class="add click" ng-if="$first" ng-click="addPepFn()">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                    <a class="remove click" ng-if="!$first" ng-click="removePepFn($index)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="col-sm-2">
                    <span class="title">描述信息</span>
                </div>
                <div class="col-sm-8">
                    <textarea ng-model="posts.descriptor" class="form-control"></textarea>
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2">
                    <span class="title">附加说明</span>
                </div>
                <div class="col-sm-8">
                    <textarea ng-model="posts.additional" class="form-control"></textarea>
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 mt20">
                    <!--<div class="col-sm-3 col-sm-offset-1 ">-->
                    <!--<a class="btn btn-default btn-block" back-button>返回</a>-->
                    <!--</div>-->
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>