<div class="row bg-white">
    <div ng-include="'/admin/rule/leftmenu.html?v12'"></div>
    <div class="v-shadow-content ruleadd">
        <form class="form-horizontal" name="ruleForm" >
            <div class="out">
                <div class="col-sm-2">
                    <span class="title"><span class="text-red">*</span>名称</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="form-inline">
                            <input type="text" class="form-control" ng-model="posts.name" required />
                        </div>
                    </div>
                </div>
            </div>


            <div class="out">
                <div class="col-sm-2">
                    <span class="title">有效期</span>
                </div>
                <div class="col-sm-8" my-date-picker data="view.date" date-range="view.dateRange" is-edit="post.isEdit">
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2">
                    <span class="title">参与门店</span>
                </div>
                <div class="col-sm-8">
                    <div class="form-control-stack">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="posts.allShop" ng-change="checkAllShops()">全选</label>
                    </div>
                    <div class="form-control-stack">
                        <label class="checkbox-inline" ng-repeat="(key,shops) in set.list" ng-class="{ml30:$index==0}">
                            <input type="checkbox" ng-checked="set.shops[$index]" ng-model="set.shops[key]" ng-true-value="{{shops.id}}"
                                ng-change="checkShops(set.shops[key])">
                            <span ng-bind="shops.name"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="out">
                <div class="col-sm-2">
                    <span class="title">发布途径</span>
                    
                </div>
                <div class="col-sm-8">
                    <div class="text-grey">如不勾选则本活动对全部顾客可见</div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway"  ng-true-value="ONLINE"
                                    ng-false-value="ALL">仅在活动中心可见（即，仅未到店顾客可见）</label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="ARRIVAL"
                                    ng-false-value="ALL">仅在门店首页可见（即，仅已到店顾客可见）</label>
                        </div>
                        <div class="col-sm-12">
                            <label>
                                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="HIDDEN"
                                    ng-false-value="ALL">不对任何顾客可见（仅需要获取到本活动URL地址时勾选）</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2"  >
                    <span class="title">业务提成</span>
                </div>
                <div class="col-sm-10">
                    <div> <button class="btn btn-primary pull-right" ng-click="addAllocates()" style="max-width: 50px;">+</button></div>
                    
                    <div class="col-sm-12" ng-repeat="item in set.allocates"  style="display: flex;">
                        <input style="max-width: 200px;" type="text" class="col-sm-4 form-control" placeholder="订单金额" ng-model="item.key">
                        <select style="max-width: 200px;" name="" id="" class="col-sm-4 form-control" placeholder="分账规则"
                            ng-model="item.value"></select>
                    </div>
                
                </div>
            </div>
            <div class="out">
                <div class="col-sm-2">
                    <span class="title">配送费</span>
                </div>
                <div class="col-sm-8">
                    <!-- 每个规则 -->
                    <div class="eachRule" ng-repeat="item in set.deliver">
                        <div style="display: flex;justify-content: space-between;">
                            <p style="display: flex;align-items: center;">
                                <span style="word-break: keep-all;">公里</span>
                                <input type="number" class="form-control" style="max-width: 200px;" ng-model="item.key"></p>
                            <button class="btn btn-primary" ng-click="addDeliverData()">+</button>
                        </div>
                        <div style="display: flex;justify-content: space-between;" ng-repeat="i in item.values">
                            <p style="display: flex;align-items: center;">
                                <input style="max-width: 50px;" type="text" class="col-sm-4 form-control" ng-model="i.amount"
                                    placeholder="订单金额">
                                <span>&nbsp;&nbsp;元,收取配送费&nbsp;&nbsp;</span>
                                <input style="max-width: 50px;" type="text" class="col-sm-4 form-control" ng-model="i.value">&nbsp;&nbsp;元
                            </p>
                            <button class="btn btn-primary" ng-click="addEachMile($index)">+</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="out">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 mt20">
                    <!--<div class="col-sm-3 col-sm-offset-1 ">-->
                    <!--<a class="btn btn-default btn-block" back-button>返回</a>-->
                    <!--</div>-->
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block" ng-click="sendJsons1()">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>