<div class="row bg-white">
    <div ng-include="'/admin/rule/leftmenu.html?v=12'"></div>
    <div class="v-shadow-content ruleadd">
        <div class="col-sm-12 mb15">
            <button type="button" class="btn btn-primary pull-right  11" ng-click="goto('rule/orderAdd')">新增
            </button>
        </div>
        <table  class="table table-bordered" style="width : 100% ; border:1px solid #e8e8e8" >
            <thead>
              <tr >
                <th>名称</th>
                <th>门店</th>
                <th>配送费</th>
                <th>操作</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in list.items">
                <td>{{item.name}}</td>
                <td >
                    <span ng-bind="filterfn(i)" ng-repeat="i in item.shops"></span>;
                </td>
                <td>
                    <p >
                        {{item.deliverText}}
                    </p>
                </td>
                <td class="text-center" style="min-width: 200px;">
                    <button class="btn btn-success" ng-click="goto('rule/editOrder/'+ item.id)" ng-if="!item.on">修改</button>
                    <button type="button" class="btn btn-primary" ng-click="onFn(item.id)" ng-if="!item.on">上线
                    </button>
                    <button type="button" class="btn btn-warning" ng-click="offFn(item.id)" ng-if="item.on">下线
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="removeFn(item.id)" ng-if="!item.on">删除
                    </button>
                </td>
              </tr>
            
            </tbody>
          </table>
       
    </div>
</div>