<div class="container contents bgw">
  <div class="col-sm-8 col-sm-offset-2 stepshow" ng-if="!view.isEdit">
    <div class="step">
      <div class="stepover" style="width:0"></div>
      <div class="stepson step41 active">
        <span>1</span>
        <h5>选择范围</h5>
      </div>
      <div class="stepson step2">
        <span>2</span>
        <h5>活动详情</h5>
      </div>
      <div class="stepson step3">
        <span>3</span>
        <h5>完成</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-12 ruleadd">
    <form class="form-horizontal" name="ruleForm" ng-submit="sendJsons()">
      <div class="out">
        <div class="col-sm-2">
          <span class="title">名称</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group ">
            <div class="col-sm-5">
              <input type="text" ng-model="posts.name" name="name" class="form-control" autocomplete="off"
                     placeholder="请输入活动名称" ng-minlength='2' ng-maxlength='20' ng-pattern="config.textCheckJson.nickname"
                     required/>
            </div>
            <div class="col-sm-5">
              <span class="help-block text-red" ng-messages="ruleForm.name.$error">
	                        <span ng-message="required">不能为空</span>
	                        <span ng-message="minlength">需大于2个字符</span>
	                        <span ng-message="maxlength">需小于20字符</span>
	                        <span ng-message="pattern" ng-bind="config.textCheckErrorJson.nickname">
                            </span>
              </span>
              <span class="help-block" ng-show="ruleForm.name.$valid">输入正确</span>
              <span class="help-block" ng-show="ruleForm.name.$untouched&&ruleForm.name.$pristine">
              2-20字符的汉字、英文、数字或者它们的组合
              </span>

            </div>
          </div>
        </div>
      </div>

      <div class="out ">
        <div class="col-sm-2">
          <span class="title">类型</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group timecheck">
            <div class="col-sm-12 ml2 form-control-stack text-left">
              <span ng-repeat="item in ruleCategory">
               <label style="width: 104px" class="btn glyphicon  btn-default"
                      ng-class="{active:posts.activityCategory == item.id}"
                      ng-click="posts.activityCategory = item.id">{{item.name}}</label>
           <!--<label class="radio-inline">-->
                <!--<input type="radio" ng-model="posts.activityCategory" value="{{item.id}}">-->
                <!--<span style="padding-right: 10px" ng-bind="item.name"></span>-->
              <!--</label>-->
              <span ng-if="$index==3"><br/></span>
                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">活动广告图</span>
        </div>
        <div class="col-sm-8">
          <pic-send pic-url="posts.picUrl"></pic-send>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">发布途径</span>
        </div>
        <div class="col-sm-8">
          <div class="text-grey">如不勾选则本活动对全部顾客可见</div>
          <div class="form-group" ng-init="posts.pathway='ALL'">
            <div class="col-sm-12">
              <label>
                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="ONLINE"
                       ng-false-value="ALL">仅在活动中心可见（即，仅未到店顾客可见）</label>
            </div>
            <div class="col-sm-12">
              <label>
                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="ARRIVAL"
                       ng-false-value="ALL">仅在门店首页可见（即，仅已到店顾客可见）</label>
            </div>
            <div class="col-sm-12">
              <label>
                <input type="checkbox" ng-model="posts.pathway" name="lineway" ng-true-value="HIDDEN"
                       ng-false-value="ALL">不对任何顾客可见（仅需要获取到本活动URL地址时勾选）</label>
            </div>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">消费运算</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group" ng-init="posts.way='ALL'">
            <div class="col-sm-12">
              <label>
                <input type="checkbox" ng-model="posts.way" name="way" ng-true-value="NONE"
                       ng-false-value="ALL">不参与运算</label>
            </div>
            </div>
          </div>
        </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">有效期</span>
        </div>
        <div class="col-sm-8" my-date-picker data="view.data" date-range="view.dateRange" is-edit="view.isEdit"></div>
      </div>

      <div class="out">
        <div class="col-sm-2">
          <span class="title">参与门店</span>
        </div>
        <div class="col-sm-8">
          <div class="text-grey" ng-if="posts.activityCategory == 'CHARGE'">充值门店不通用设置方法：1.不能开启品牌店充值，需勾选发布途径—仅在门店首页可见（即，仅已到店顾客可见）2.使用充值卡设置中选择各门店不通用</div>
          <div class="form-control-stack">
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="set.shopAll" ng-change="checkAllShops()">全选</label>
          </div>
          <div class="form-control-stack">
            <label class="checkbox-inline" ng-repeat="(key,shops) in set.list" ng-class="{ml30:$index==0}">
              <input type="checkbox" ng-model="posts.shops[key]" ng-true-value="{{shops.id}}">
              <span ng-bind="shops.name"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="out">
        <div class="col-sm-2">
          <span class="title">有效时段</span>
        </div>
        <div class="col-sm-8">
          <input type="checkbox" id="allday" ng-model="posts.allDay"/><label for="allday">全天</label>

          <div class="timecheck" ng-if="!posts.allDay">
            <label class="btn glyphicon  btn-default" ng-repeat="(key, value) in set.time"
                   ng-class="{active:view.periods[$index]}" ng-click="settime($index,key)" ng-bind="value"></label>
          </div>
        </div>
      </div>

      <div class="out" ng-hide="posts.activityCategory=='SETMEAL'">
        <div class="col-sm-2">
          <span class="title">不参与商品</span>
        </div>
        <div class="col-sm-8">
          <div class="form-control-stack">
            <input type="checkbox" ng-model="posts.nonParticipationId" ng-true-value="{{set.nonParticipation.id}}"
                   ng-false-value="" id="noneP" ng-if="set.nonParticipation"/>
            <label for="noneP" ng-bind="set.nonParticipation.content"></label>
            <!--<div class="add-rad" ng-click="addNonParticipation()" style="display:inline-block"-->
                 <!--ng-if="!set.nonParticipation"><i class="glyphicon glyphicon-plus"></i></div>-->
          </div>
        </div>
      </div>

      <div class="out" ng-if="shareRuleCategory.length>0">
        <div class="col-sm-2">
          <span class="title">同享的活动</span>
        </div>
        <div class="col-sm-8">
          <div class="text-red">*消费积分与返券不同同时勾选</div>
          <div class="form-control-stack" id="check-son">
            <label class="" style="padding-right: 10px" ng-repeat="item in shareRuleCategory">
              <input type="checkbox" ng-model="posts.shared[$index]" ng-true-value="{{item.id}}">
              <span ng-bind="item.name"></span>
            </label>
          </div>
          <div class="form-control-stack">
            <label class="checkbox-inline" ng-if="filterShared().length>0">
              <input type="checkbox" ng-model="posts.excludeAmount">
              <span>参与本活动的部分不再参与同享</span>
            </label>
          </div>
        </div>
      </div>

      <div class="out">
        <div class="col-sm-2">
          <span class="title">备注</span>
        </div>
        <div class="col-sm-8">
          <div class="form-group ">
            <div class="col-sm-5">
              <textarea ng-model="posts.additional" name="name" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <!-- <div class="out" ng-if="posts.activityCategory=='FOLLOW'">
               <div class="col-sm-2">
                 <span class="title">宣传途径</span>
               </div>
               <div class="col-sm-8 content">
                 <div class="form-group timecheck">
                   <div class="col-sm-12 ml2 form-control-stack text-left">
                     <label class="radio-inline">
                       <input type="radio" ng-model="posts.onlineUrl" value="true">
                       <span>线上传播</span>
                     </label>
                   </div>
                 </div>
               </div>
             </div>-->
        <div class="out ">
          <div class="col-sm-2"></div>
          <div class="col-sm-8 mt20">
            <div class="form-group ">
              <div class="col-sm-3 col-sm-offset-1 ">
                <a class="btn btn-default btn-block" back-button>返回</a>
              </div>
              <div class="col-sm-3 col-sm-offset-1 ">
                <button class="btn btn-primary btn-block" ng-disabled="ruleForm.$invalid">下一步</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal fade " id="NonParticipation" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" name="addno">
          <div class="modal-header ">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">添加不参与活动的商品</h4>
          </div>
          <div class="modal-body" style="overflow:hidden">
            <div class="form-group">
              <div class="form-control-static pull-left ml25">输入多种商品时，用逗号分开</div>
              <div class="col-sm-11 mt20 ml25">
                <input ng-model="goods.name" class="form-control" min="1" required/>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-sm-3 col-sm-setoff-6">
              <div class="btn btn-default btn-block" data-dismiss="modal">关闭</div>

            </div>
            <div class="col-sm-3">
              <button class="btn btn-primary btn-block" ng-disabled="!addno.$valid" ng-click="NonParticipationSend()">
                添加
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
