<div class="container contents bgw">
  <form class="form-horizontal">
    <div class="col-sm-12" ng-repeat="(name,rule) in view.rules" ng-if="rule.show">
      <form name="{{name}}" invalidate>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title" ng-bind="rule.name"></div>
          </div>
          <div class="panel-body">
            <div ng-if="rule.state=='show'" ng-include="'admin/rule/show.html'"></div>
            <div ng-if="rule.state=='edit'" ng-include="'admin/rule/module/'+name+'.html'"></div>
          </div>

          <ul class="list-group">
            <li class="list-group-item" style="overflow:hidden">
              <a class="btn btn-primary col-sm-2 col-sm-offset-5" ng-click="ruleFn.closeFn(name)"
                 ng-if="rule.state=='edit'">取消</a>

              <a ng-class="{'col-sm-offset-8':rule.state=='show','col-sm-offset-1':rule.state=='edit'}"
                 class="btn btn-primary col-sm-2" ng-click="ruleFn.buttonFn(name)"
                 ng-bind="rule.state=='show'?'修改':'保存'" ng-disabled="ruleEdit1.$invalid"></a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </form>

  <div class="col-sm-12">
    <div class="col-sm-3 col-sm-offset-4">
      <a class="btn btn-default btn-block" back-button>返回</a>
    </div>
  </div>


  <div id="showadd" class="modal fade addpanel" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" style="overflow:hidden">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title" ng-bind="view.modal.title"></h4>
        </div>
        <div class="modal-body" ng-if="view.modal.html" ng-include="'admin/rule/module/'+view.modal.html+'.html'">
        </div>
        <div class="modal-footer" ng-if="view.modal.couponFn">
          <div class="col-sm-3 col-sm-offset-3" ng-if="view.modal.type!='couponSelect'">
            <a class="btn btn-primary btn-block" ng-click="ruleFn.saveCouponFn()">确定</a>
          </div>
          <div class="col-sm-3">
            <a data-dismiss="modal" class="btn btn-primary btn-default btn-block">关闭</a>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 690px" ng-if="isOpenOrClose">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
          </button>
          <h4 class="modal-title">添加券</h4>
        </div>
        <div class="modal-body">
          <coupon-new add-ok="ruleFn.testAddOk(result)" add-fail="ruleFn.testAddFail(result)"></coupon-new>
          <div style="height: 40px"></div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
  </div>
</div>