<div class="container contents bgw">
  <div class="col-md-12 text-center ">
    <span class="titleRed" ng-bind="shopshow.shop.name"></span>
    <span ng-bind="authed[shopshow.shop.state]"></span>
  </div>
  <div class="col-md-12">
    <hr>
  </div>
  <div class="col-md-8 col-md-offset-2 shopshow">
    <div class="col-sm-6">
      <div class="col-sm-4">电话</div>
      <div class="col-sm-8" ng-bind="shopshow.shop.tel"></div>
    </div>

    <div class="col-sm-6">
      <div class="col-sm-4">菜系</div>
      <div class="col-sm-8" ng-bind="shopshow.shop.cuisineText"></div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">人均消费</div>
      <div class="col-sm-8" ng-bind="shopshow.shop.avgprice+'元'"></div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-4">开业时间</div>
      <div class="col-sm-8" ng-bind="shopshow.shop.openingDay|date:'yyyy-MM-dd'"></div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">介绍</div>
      <div class="col-sm-10" ng-bind="shopshow.shop.description||'暂未填写'"></div>
    </div>
    <div class="col-sm-12 mb10" ng-if="shopshow.shop.qrcodeUrl">
      <div class="col-sm-2">微店</div>
      <div class="col-sm-2"><img ng-src="{{shopshow.shop.qrcodeUrl}}" width="80px"/></div>
      <div class="col-sm-8"><a target="_blank" ng-href="{{shopshow.shop.qrcodeUrl}}">查看大图</a></div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">
        营业时间
      </div>
      <div class="col-sm-10">
        <div class="row">

          <table class="table table-bordered col-sm-12">
            <tr>
              <th class="col-sm-2" ng-repeat="(key,businesstime) in shopshow.shop.businessTimes"
                  ng-bind="tem.type[shopshow.shop.businessTimes[key].type]"></th>
              <!--<th class="col-sm-2" ng-repeat="types in tem.type" ng-bind="types"></th>-->
            </tr>
            <tr>
              <td ng-repeat="(key,businesstime) in shopshow.shop.businessTimes"
                  ng-bind="(businesstime.startTime|date:'HH:mm')+'-'+(businesstime.endTime|date:'HH:mm')"></td>

              <!--<td ng-repeat="(key,businesstime) in tem.type" ng-bind="(shopshow.shop.businessTimes[key].startTime|ltdate|date:'HH:mm')+'-'+(shopshow.shop.businessTimes[key].endTime|ltdate|date:'HH:mm')" ></td>-->
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12" ng-if="shopshow.shop.shopType=='1001'">
      <div class="col-sm-2">
        规模
      </div>
      <div class="col-sm-10">
        <div class="row">

          <table class="table table-bordered col-sm-12">
            <tr>
              <th class="col-sm-6">包厢</th>
              <th class="col-sm-6">散台</th>
            </tr>
            <tr>
              <td ng-bind="shopshow.shop.boxNum">读取中
              </td>
              <td ng-bind="shopshow.shop.tableNum ">读取中
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">
        收银员
      </div>
      <div class="col-sm-10">
        <div class="row">
          <table class="table table-bordered col-sm-12">
            <tr>
              <th class="col-sm-6">姓名</th>
              <th class="col-sm-6">账号</th>
            </tr>
            <tr ng-repeat="stafflist in shopshow.shop.staffs">
              <td ng-bind="stafflist.nickname">读取中
              </td>
              <td ng-bind="stafflist.name ">读取中
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">停车位</div>
      <div class="col-sm-10" ng-bind="shopshow.shop.parkingDescription||'暂未填写'"></div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-2">地址</div>
      <div class="col-sm-10" ng-show="shopshow.shop.address"
           ng-bind="shopshow.shop.areaText+shopshow.shop.address"></div>
      <div class="col-sm-10" ng-show="!shopshow.shop.address">暂未填写</div>
    </div>
    <!-- 		<div class="col-sm-12 form-group">
                <div class="col-sm-2">地图</div>
                <div class="col-sm-10" ng-show="shopshow.shop.map" >
                    <img ng-src="{{shopshow.shop.map}}" style=""/>
                </div>
                <div class="col-sm-10" ng-show="!shopshow.shop.map" >暂未添加</div>
            </div> -->
    <div class="col-sm-12 form-group">
      <div class="col-sm-2">封面图片</div>
      <div class="col-sm-10">
        <div class="piclist col-sm-4">
          <img ng-src="{{shopshow.shop.picUrl}}"/>
        </div>
      </div>
    </div>
    <div class="col-sm-12 form-group">
      <div class="col-sm-2">门店图片</div>
      <div class="col-sm-10">
        <div class="pull-left titlePin" id="picshow">
          <table>
            <tr>
              <td ng-if="pic.url!==shopshow.shop.picUrl" ng-repeat="pic in shopshow.shop.picUrls">
                <div class="piclist">
                  <img ng-src="{{pic.url}}" style="height: 90px"/>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
