<div class="out ruleadd2">
  <div class="col-sm-2 text-right ">
    <span class="title">活动详情</span>
  </div>
  <div class="col-sm-10 content2 mb0">
    <div class="row">
      <div ng-repeat="(key, detail) in posts.CHARGE.CHARGE.detail">
        <div class="form-group mb15" ng-repeat="details in detail" ng-init="details.id=key">
          <div class="col-sm-12 form-inline">
            <select ng-model="details.id" class="form-control" ng-change="cons(key, detail)"
                    ng-options="item.id as item.name for item in view.member" name="member" required></select>
            <div class="form-control-static">充值</div>
            <input ng-model="details.amount" type="number" min="0" class="form-control" placeholder="" required/>

            <div class="form-control-static">元，
                       
            赠送;
          </div>
          <div class="form-control-static" >分账
            <select ng-model="details.allocate"  class="form-control" 
                    ng-options="item.id as item.name for item in view.allocates" name="members" required></select>
          </div>
        



            <div class="form-group" style="margin-left: 15px">
              <a class="add click" ng-if="$parent.$first&&$first" ng-click="view.rules.CHARGE.addFunc('CHARGE')">
                <i
                        class="glyphicon glyphicon-plus"></i>
              </a>
              <a class="remove click" ng-if="!$first||!$parent.$first"
                 ng-click="ruleFn.removeFn('CHARGE',key,$index)">
                <i class="glyphicon glyphicon-remove"></i>
              </a>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-12 mt15" ng-repeat="dv in details.value">
              <div class="col-sm-2">
                <select class="form-control coupon-select" ng-change="ruleFn.changeCoupon(details.value, dv)"
                        ng-model="dv.category"
                        required>
                  <option value="COUPON">送券</option>
                  <option value="REWARD">代用币</option>
                  <option value="CHARGE">储值卡</option>
                  <option value="POINT">积分</option>
                </select>
              </div>
              <div class="col-sm-8" ng-if="dv.category =='COUPON'">
                <div class="col-sm-2">
                  <div class="row">
                    <select class="form-control coupon-select" ng-change="ruleFn.changeCoupon(details.value, dv)"
                            ng-model="dv.id"
                            ng-options="item.id as (item.name + (item.alias?'('+item.alias+')':'')) group by view.counponType[item.type] for item in view.coupons"
                            required>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <input type="number" min="1" class="form-control" ng-model="dv.count" required/>
                  <input type="text" ng-modle="dv.name" style="display:none;">
                </div>
                <div class="pull-left form-control-static">张，每次最多送劵</div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" max="100" min="0" ng-model="dv.limit" placeholder="最多100"/>
                </div>
                <div class="pull-left form-control-static">张</div>
              </div>
              <div class="col-sm-8" ng-if="dv.category =='REWARD'">
                <div class="col-sm-2">
                  <div class="row">
                    <select class="form-control coupon-select" ng-change="ruleFn.changeReward(details.value, dv)"
                            ng-model="dv.id"
                            ng-options="item.id as (item.name + (item.alias?'('+item.alias+')':'')) group by view.counponType[item.type] for item in view.rewards"
                            required>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <input type="number" min="1" class="form-control" ng-model="dv.count" required/>
                  <input type="text" ng-modle="dv.name" style="display:none;">
                </div>
                <div class="pull-left form-control-static">张，每次最多送</div>
                <div class="col-sm-2">
                  <input type="number" class="form-control" max="100" min="0" ng-model="dv.limit" placeholder="最多100"/>
                </div>
                <div class="pull-left form-control-static">张</div>
              </div>
              <div class="col-sm-8" ng-if="dv.category =='POINT'">
                <div class="col-sm-2">
                  <div class="row">
                    <input type="number" class="form-control" min="0" ng-model="dv.amount" placeholder="赠送积分"/>
                  </div>
                </div>
                <div class="form-control-static col-sm-2">积分</div>
              </div>
              <div class="col-sm-8" ng-if="dv.category =='CHARGE'">
                <div class="col-sm-2">
                  <div class="row">
                    <input type="number" class="form-control" min="0" ng-model="dv.amount" placeholder="赠送余额"/>
                  </div>
                </div>
                <div class="col-sm-2 form-control-static">元</div>
              </div>
              <div class="col-sm-2 text-right">
                <a class="add click" ng-if="$first" ng-click="ruleFn.put(details, dv)"> <i
                        class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="remove click" ng-if="!$first" ng-click="ruleFn.resetCouponCntFn(details, dv)"> <i
                        class="glyphicon glyphicon-remove"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="col-sm-3 btn btn-primary" ng-click="ruleFn.openOrClose()">新增券</div>-->
  </div>
</div>

<div class="out ruleadd2">
  <div class="col-sm-2 text-right ">
    <span class="title">数量</span>
  </div>
  <div class="col-sm-10 content2 mb0">
    <div class="form-group mb22">
      <div class=" form-control-static pull-left">前</div>
      <div class="col-sm-3 ">
        <input type="number" min="0" ng-model="posts.CHARGE.CHARGE.countLimit" class="form-control"
               placeholder="请输入人数限制"/>
      </div>
      <div class=" form-control-static pull-left">
        人有效
        <span style="color:#999;padding-left:20px">(0表示不限制)</span>
      </div>
    </div>
  </div>
</div>

