<div class="out ruleadd2">
    <div class="col-sm-2 text-right ">
        <span class="title">活动详情</span>
    </div>
    <div class="col-sm-10 content mb0">
        <div class="col-sm-12 ml25 mb22 form-control-stack text-left">
            <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" class="hide" ng-model="posts.POINT.POINT.check" ng-checked="posts.POINT.POINT.check=true"> -->
                *单次消费的百分比转化为积分
            <!--</label>-->
        </div>
        <div ng-repeat="(key, detail) in posts.POINT.POINT.detail" ng-init="posts.POINT.POINT.check=true">
            <div class="form-group mb22" ng-repeat="details in detail" ng-init="details.id=key">
                <div class="col-sm-3">
                    <select ng-model="details.id" class="form-control " ng-options="item.id as item.name for item in view.member" name="member" required></select>
                </div>
                <div class=" form-control-static pull-left">每消费</div>
                <div class="col-sm-2 ">
                    <input type="number" class="form-control" ng-model="details.amount" placeholder="请输入消费额度" name="amount" required/>
                </div>
                <div class=" form-control-static pull-left">元,积</div>
                <div class="col-sm-2 ">
                    <input type="number" class="form-control" placeholder="请输入积分额度" ng-model="details.value" required/>
                </div>
                <div class=" form-control-static pull-left">分</div>
                <a class="add click" ng-if="$parent.$first&&$first" ng-click="ruleFn.addFn('POINT')">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
                <a class="remove click" ng-if="!$first||!$parent.$first" ng-click="ruleFn.removeFn('POINT',key,$index)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--<div class="out ruleadd2">-->
    <!--<div class="col-sm-2 text-right ">-->
    <!--</div>-->
    <!--<div class="col-sm-10 content mb0">-->
        <!--<div class="col-sm-12 ml25 mb22 form-control-stack text-left">-->
            <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" ng-model="posts.POINT.POINT_COUPON.check" ng-checked="posts.POINT.POINT_COUPON.check">积分换券</label>-->
        <!--</div>-->
        <!--<div ng-repeat="(key, detail) in posts.POINT.POINT_COUPON.detail" ng-if="posts.POINT.POINT_COUPON.check">-->
            <!--<div class="form-group mb22" ng-repeat="details in detail" ng-init="details.id=key">-->
                <!--<div class="col-sm-2">-->
                    <!--<select ng-model="details.id" class="form-control " ng-options="item.id as item.name for item in view.member" name="member" required></select>-->
                <!--</div>-->
                <!--<div class="col-sm-2 ">-->
                    <!--<input type="number" min="1" class="form-control"  placeholder="请输入积分额度" ng-model="details.amount" required/>-->
                <!--</div>-->
                <!--<div class="form-control-static pull-left">积分换</div>-->
                <!--<div class="col-sm-6" ng-repeat="dv in details.value">-->
                    <!--<div class="col-sm-6">-->
                        <!--<select class="form-control coupon-select" ng-change="ruleFn.changeCoupon(details.value, dv)" ng-model="dv.id" ng-options="item.id as item.name group by view.counponType[item.type] for item in view.coupons" required>-->
                            <!--<option value="">&#45;&#45;请选择券&#45;&#45;</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-5 pull-left">-->
                        <!--<input type="number" min="1" class="form-control" placeholder="请输入数量" ng-model="dv.count" required/>-->
                        <!--<input type="text" ng-modle="dv.name" style="display:none;">-->
                    <!--</div>-->
                    <!--<div class="form-control-static pull-left">张</div>-->
                <!--</div>-->
                <!--<a class="add click" ng-if="$parent.$first&&$first" ng-click="ruleFn.addCouponFn('POINT_COUPON')">-->
                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                <!--</a>-->
                <!--<a class="remove click" ng-if="!$first||!$parent.$first" ng-click="ruleFn.removeFn('POINT_COUPON',key,$index)">-->
                    <!--<i class="glyphicon glyphicon-remove"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-sm-2 ml25">-->
            <!--<div class="btn btn-primary" ng-click="ruleFn.openOrClose()">新增券</div>-->
        <!--</div>-->
        <!--<div class="form-group" ng-if="isOpenOrClose">-->
            <!--<div class="col-sm-12">-->
                <!--<coupon-new add-ok="ruleFn.testAddOk(result)" add-fail="ruleFn.testAddFail(result)"></coupon-new>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="out ruleadd2">-->
    <!--<div class="col-sm-2 text-right ">-->
    <!--</div>-->
    <!--<div class="col-sm-10 content2 mb0">-->
        <!--<div class="col-sm-12 ml25 mb22 form-control-stack text-left">-->
            <!--<label class="checkbox-inline">-->
                <!--<input type="checkbox" ng-model="posts.POINT.POINT_GIFT.check" ng-change="console(posts.POINT.POINT_GIFT.check)" ng-checked="posts.POINT.POINT_GIFT.check">积分换礼</label>-->
        <!--</div>-->
        <!--<div ng-repeat="(key, detail) in posts.POINT.POINT_GIFT.detail " ng-if="posts.POINT.POINT_GIFT.check">-->
            <!--<div class="form-group mb22" ng-repeat="details in detail" ng-init="details.id=key">-->
                <!--<div class="col-sm-3">-->
                    <!--<select ng-model="details.id" class="form-control " ng-options="item.id as item.name for item in view.member" name="member" required></select>-->
                <!--</div>-->
                <!--<div class="col-sm-2 ">-->
                    <!--<input type="number" ng-model="details.amount" class="form-control" />-->
                <!--</div>-->
                <!--<div class=" form-control-static pull-left">积分换</div>-->
                <!--<div class="col-sm-3 ">-->
                    <!--<input type="text" ng-model="details.value" class="form-control" />-->
                <!--</div>-->
                <!--<a class="add click" ng-if="$parent.$first&&$first" ng-click="ruleFn.addFn('POINT_GIFT')">-->
                    <!--<i class="glyphicon glyphicon-plus"></i>-->
                <!--</a>-->
                <!--<a class="remove click" ng-if="!$first||!$parent.$first" ng-click="ruleFn.removeFn('POINT_GIFT',key,$index)">-->
                    <!--<i class="glyphicon glyphicon-remove"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
