<div ng-controller="RulEspendasCtr">
	<div class="out ruleadd2" >
		<div class="col-sm-2 text-right ">
			<span class="title">活动详情</span>
		</div>
		<div class="col-sm-10 content mb0">
			<div class="form-group mb22"  ng-repeat="SPEND_ASs in SPEND_AS.posts.detail">
				<div class="col-sm-3">
					<select  ng-model="SPEND_ASs.member"  class="form-control " ng-model="area.area1"
  									ng-options="item.id as item.name for item in view.member" name="area" required></select>
				</div>
				<div class="col-sm-3 ">
					<input ng-model="SPEND_ASs.amount" type="number" class="form-control" />
				</div>
				<div class=" form-control-static pull-left">元，抵</div>
				<div class="col-sm-2 ">
					<input ng-model="SPEND_ASs.value" type="number" class="form-control" />
				</div>
				<div class="pull-left form-control-static">元</div>

				<a class="add click" ng-show="$first" ng-click="SPEND_AS.addFn()"> <i class="glyphicon glyphicon-plus"></i>
				</a>
				<a class="remove click" ng-show="!$first" ng-click="SPEND_AS.removeFn($index)"> <i class="glyphicon glyphicon-remove"></i>
				</a>
			</div>
		</div>
	</div>

	<div class="out ruleadd2">
		<div class="col-sm-2 text-right ">
			<span class="title">数量</span>
		</div>
		<div class="col-sm-10 content2 mb0">
			<div class="form-group mb22" >
			
				<Div class="col-sm-6">
					<div class="row">
						<div class=" form-control-static pull-left">单次消费限用</div>
					<div class="col-sm-6 ">
						<input type="text" ng-model="SPEND_AS.posts.countLimit" class="form-control" />
					</div>
					<div class=" form-control-static pull-left">
						次
						<span style="color:#999;padding-left:10px">(0表示不限制)</span>
					</div>
					</div>
					
				</Div>
			</div>
			<div class="form-group mb22">
					<Div class="col-sm-6">
					<div class=" form-control-static pull-left">前</div>
					<div class="col-sm-6 ">
						<input type="text" ng-model="SPEND_AS.posts.count" class="form-control" />
					</div>
					<div class=" form-control-static pull-left">
						人有效
						<span style="color:#999;padding-left:10px">(0表示不限制)</span>
					</div>
				</Div>
			</div>
		</div>
	</div>
</div>