<div class="mt15">
    <label class="left-tag" style="margin: 20px 0">终端设备</label>
    <div class="list-group click"  >
        <a class="list-group-item" ng-click="select('1000')" ng-class="{'active':active=='1000'}"
            ng-click="active = '1000'">终端设备</a>
    </div>
</div>


<div class="mt15">
    <label class="left-tag" style="margin: 20px 0">二维码</label>
    <div class="list-group click">
        <p class="list-group-item" ng-class="{'active':active == 1001}" ng-click="select('1001')">动态二维码</p>
        <p class="list-group-item" ng-class="{'active':active == 1002}" ng-click="select('1002')">活动二维码(待开发)</p>
        <p class="list-group-item" ng-class="{'active':active == 1003}" ng-click="select('1003')">推广二维码</p>
        <p class="list-group-item" ng-class="{'active':active == 1004}" ng-click="select('1004')">买单二维码(待开发)</p>
    </div>
</div>
