<div  class="keepershopadd" >
	<div class="container  contents bgw">

		<div class="col-sm-8 col-sm-offset-2 stepshow">
			<div class="step">
				<div class="stepover" style="width:25%"></div>
				<div class="stepson step1 active">
					<span>1</span>
					<h5>基本资料设置</h5>
				</div>
				<div class="stepson step52 active">
					<span>2</span>
					<h5>餐桌资料设置</h5>
				</div>
				<div class="stepson step2">
					<span>3</span>
					<h5>营业时间设置</h5>
				</div>
				<div class="stepson step54">
					<span>4</span>
					<h5>添加员工</h5>
				</div>
				<div class="stepson step3">
					<span>5</span>
					<h5>完成</h5>
				</div>
			</div>
		</div>
		<form class="row" ng-submit="postSend()" name="add_form">

				<div class="col-sm-9 col-sm-offset-2 ">
				<label >散台</label>
				<div class="row ">
					<Div class="user-list">

						<div class="col-sm-12 tablelist">
							<div class="tablesout" ng-repeat="tables in view.tables|orderBy:'no'"  ng-mouseover="tables.show=1" ng-mouseleave="tables.show=0">
								<div ng-class="{'blur':tables.show}"  class="tables out pull-left">
									<Div class="remove text" ></Div>
									<Div class="seat">{{tables.seatNum}}座桌台</Div>
									<Div class="seat">{{tables.no}}号</Div>
								</div>
								<div class="editdialog "  ng-show="tables.show==1">
									<div class="delete" > <i ng-click="tableDelFn(tables.id,$index)" class="glyphicon glyphicon-remove"></i>
									</div>
									<span ng-click="editTableFn('tables',$index)">编辑</span>
								</div>
							</div>

							<div class="user-list inline-block">
								<div class="add" style="width:100px" ng-click="modaladd('table')">
									<span class="iconadd"> <i class=" glyphicon glyphicon-plus"></i>
									</span>

								</div>
							</div>
						</div>
					</Div>
				</div>
			</div>
			<div class="col-sm-9 col-sm-offset-2">
				<label >包厢</label>
				<div class="row ">
					<Div class="user-list">
						<div class="col-sm-12 tablelist">
							<div class="tablesout" ng-repeat="boxs in view.boxs|orderBy:'no'"  ng-mouseover="boxs.show=1" ng-mouseleave="boxs.show=0">
								<div ng-class="{'blur':boxs.show}"  class="tables out pull-left">
									<Div class="seat">{{boxs.name}}</Div>
									<Div class="seat">{{boxs.seatNum}}座</Div>
									<Div class="seat">房间号:{{boxs.no}}</Div>
								</div>
								<div class="editdialog "  ng-show="boxs.show==1">
									<div class="delete" > <i ng-click="tableDelFn(boxs.id,$index)" class="glyphicon glyphicon-remove"></i>
									</div>
									<span ng-click="editTableFn('boxs',$index)">编辑</span>
								</div>
							</div>

							<div class="user-list inline-block">
								<div class="add" style="width:100px" ng-click="modaladd('box')">
									<span class="iconadd"> <i class=" glyphicon glyphicon-plus"></i>
									</span>

								</div>
							</div>
						</div>
					</Div>
				</div>

			</div>
			<div class="col-sm-10 col-sm-offset-2">
				<div class="row">
					<div class="col-sm-3">
						<a class="btn btn-default btn-block" ng-click="goto('shop/add')"  >返回</a>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<button class="btn btn-primary btn-block" ng-click="goto('shop/add3')">下一步</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="modal fade bs-example-modal-sm" id="addtable" aria-hidden="true" >
	<div class="modal-dialog modal-sm"  style="display:block;">
		<div class="modal-content ">
			<form  enctype="multipart/form-data" name="tableform">
				<div class="modal-header " >
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title" ng-bind="view.modalname"></h4>
					<div class="text-red" >*包厢与桌台的桌号不能重复</div>
				</div>
				<div class="modal-body form-horizontal" style="overflow:hidden">
					<div class="form-group">
						<label for="shoptel"  class="col-sm-3 control-label text-right">桌号</label>
						<div class="col-sm-9 " id="">
							<input ng-model="post.no" name="no" ng-minlength='1' ng-maxlength='10' class="form-control" placeholder="1-10个字符"  required>
							<div class="help-block" ng-messages="tableform.no.$error" >
								<span class="label label-danger label-block">
									<span  ng-message="required">桌号不能为空</span>
									<span  ng-message="maxlength">桌号需小于10个字符</span>
								</span>
							</div>
						</div>
					</div>

					<div class="form-group ">
						<label for="shoptel"  class="col-sm-3 control-label text-right">座位数</label>
						<div class="col-sm-9 " id="">
							<input ng-model="post.seatNum" min="1" type="number" class="form-control">
							<div class="help-block">
								<span class="label label-danger label-block">座位数不能为空</span>
							</div>
						</div>

					</div>
					<div class="form-group" ng-if="tem.nameshow">
						<label for="shoptel" class="col-sm-3 control-label text-right">名称</label>
						<div class="col-sm-9 " id="">
							<input ng-model="post.name" class="form-control">
							<div class="help-block">
								<span class="label label-danger label-block">请填写名称</span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-md-6">
						<div class="btn btn-primary btn-block" ng-click="dispatchAction()">确定</div>
					</div>
					<div class="col-md-6 ">
						<div class="btn btn-default btn-block" ng-click="cancelAction()" data-dismiss="modal">关闭</div>
					</div>
				</div>
			</form>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>