<div class="bgw">
  <div class="row">
    <div ng-include="'/admin/mall/leftmenu.html'"></div>
    <div class="v-shadow-content">

      <div class="col-md-10 col-sm-12">
        <form class="form-horizontal " name="customerAdd" ng-submit="send()">
          <div class="form-group ">
            <label class="control-label col-sm-4">类别</label>
            <div class="col-sm-4">
              <select ng-model="posts.categoryId" class="form-control"
                      ng-options="item.id as item.name for item in view.groups" name="type">
                <option value="">不选择类别</option>
              </select>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-sm-4"><span class="text-red">*</span>编号</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" name="fullname" ng-model="posts.code" placeholder="请输入编号"
                     ng-minlength='1' ng-maxlength='12' required/>
            </div>
            <div class="col-sm-4 form-control-static">
             <span class="text-red" ng-messages="customerAdd.fullname.$error"
                   ng-show="!customerAdd.fullname.$pristine||customerAdd.fullname.$touched">
                 <span ng-message="required">
                  不能为空
                  </span>
                  <span ng-message="minlength">
                  不得小于1个字符
                  </span>
                  <span ng-message="maxlength">
                  不得大于12个字符
                  </span>
                  <span ng-message="pattern">
                  不能含有空格及特殊字符
                  </span>
             </span>
              <span ng-show="customerAdd.fullname.$untouched&&customerAdd.fullname.$pristine">
                1-12个字符以内
             </span>
              <span class="text-green" ng-show="customerAdd.fullname.$valid">
                输入正确
             </span>
            </div>

          </div>
          <div class="form-group ">
            <label class="control-label col-sm-4"><span class="text-red">*</span>菜品名称</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" name="name" ng-model="posts.name" placeholder="请输入菜品名称"
                     ng-minlength='2' ng-maxlength='20' ng-pattern="/^[\u4e00-\u9fa5A-Za-z0-9_-]+$/" required/>
            </div>
            <div class="col-sm-4 form-control-static">
             <span class="text-red" ng-messages="customerAdd.name.$error"
                   ng-show="!customerAdd.name.$pristine||customerAdd.name.$touched">
                 <span ng-message="required">
                  不能为空
                  </span>
                  <span ng-message="minlength">
                  不得小于2个字符
                  </span>
                  <span ng-message="maxlength">
                  不得大于20个字符
                  </span>
                  <span ng-message="pattern">
                  不能含有空格及特殊字符
                  </span>
             </span>
              <span ng-show="customerAdd.name.$untouched&&customerAdd.name.$pristine">
                2-20个字符以内
             </span>
              <span class="text-green" ng-show="customerAdd.name.$valid">
                输入正确
             </span>
            </div>

          </div>
          <div class="form-group ">
            <label class="control-label col-sm-4"><span class="text-red">*</span>价格</label>

            <div class="col-sm-4">
              <input type="text" class="form-control" ng-model="posts.price" name="price" placeholder="请输入菜品价格"
                     required>
            </div>
          </div>

          <div class="form-group ">
            <label class="control-label col-sm-4">图片</label>

            <div class="col-sm-4">
              <pic-send pic-url="posts.picUrl"></pic-send>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-2 col-sm-offset-4">
              <a class="btn btn-default btn-block" back-button>返回</a>
            </div>
            <div class="col-sm-2 ">
              <button class="btn btn-primary btn-block" ng-disabled="customerAdd.$invalid">确定</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
